html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

#main-wrapper {
  min-height: 100%;
  width: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px; /* footer height */
}

#footer {
  position: relative;
  margin-top: -180px; /* negative footer height */
  height: 180px;
  clear: both;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin: 0;
  padding: 0;
  float: left;
}

/* Opera fix for sticky footer */
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* Sticky footer thanks to http://www.cssstickyfooter.com */
