---
layout: default
title: Learn to Map 
twitterDescription: "Get involved in crowdsourced mapping - start mapping in 3 easy steps with MapGive."
ogDescription: "Start mapping in three easy steps with the #MapGive video guide and instructions."
ogImage: "{{ site.baseurl }}/assets/img/how-to-map.jpg"
ogVideo: "http://youtu.be/9Jz-xn9mw7E"
emailSubject: Get involved in crowdsourced mapping.
emailDescription: "Start mapping in three easy steps. Get an OpenStreetMap account, practice with our step-by-step video guide then choose a prioritized mapping project."
---

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/collecticons/icons.css">

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    <section>
      <p>This site provides step-by-step instructions to help volunteers like you learn to map and get involved in humanitarian initiatives.</p>
      <ol class="steps">
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-1"></div>
              <div class="title">Set up an account and get a log in from <a href="https://www.openstreetmap.org/user/new" target="_blank">OpenStreetMap</a>.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>5&ndash;10 minutes</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              
              </br></br>
              <div class="video">
                <div class="video-player-container shadowed" data="suk8uRpIBQw">
                  <img src="{{ site.baseurl }}/assets/img/hot_video_splash2.png" alt="YouTube embedded video: Set up an account in OpenStreetMap. Press space or enter to play video." class="img-responsive" />
                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--
          <div class="row">
          	<div class="col-md-12">
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
                <dt id="accordion1-title1" role="tab" aria-controls="accordion1-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Written Instructions</dt>
                <dd id="accordion1-panel1" role="tabpanel" aria-labelledby="accordion1-title1" aria-hidden="false">
                  <p>Visit <a href="https://www.openstreetmap.org/user/new">OpenStreetMap</a>, and begin creating your account.</p>
                  <p>During your account set up you will see a “Contributor Terms of Agreement”. It may be different depending on which country you live in. You can select “France” “Italy”, or “Rest of the World” if you live in another country.</p>
                  <p>Next, click on the checkbox to allow your edits to be in the public domain. This ensures that all of the map data is open and available to the world. Once you’ve done that, click on “agree”.	  </p>
                  <p>Check your email and confirm your OpenStreetMap account by clicking the link provided.</p>
                  <p>Now that you have your account, proceed to Step 2 to learn and practice mapping.</p>
                </dd>
            	</dl>
            </div>
          </div>
-->

        </li>
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-2"></div>
              <div class="title">Learn to map and practice your basic mapping skills. A good start is to go through the iD editor walkthrough before you start mapping.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>15&ndash;30 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              </br></br>
              <!--<h2>OpenStreetMap iD Editor Walkthrough</h2>-->

              <img src="{{ site.baseurl }}/assets/img/id_editor_walkthrough5.gif" alt="iD Editor Walkthrough" style="width:685px">

              </br></br>

              <!--
              <div class="video">
                <div class="video-player-container shadowed" data="E1YJV6I_rhY">
                  <img src="{{ site.baseurl }}/assets/img/hot_video_splash2.png" alt="YouTube embedded video: Learn How to Map in OpenStreetMap. Press space or enter to play video." class="img-responsive" />
                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>
              </div>
              -->


                <H4 id="accordion2-title1" role="tab" aria-controls="accordion2-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Additional Resources: 2-min Tutorials</H4>

                <ul>
                  <li>
                    <a href="https://www.youtube.com/watch?v=E1YJV6I_rhY">Adding a building to OpenStreetMap</a> by HOTOSM
                  </li>
                  <li>
                    <a href="https://www.youtube.com/watch?v=ZBLwb2nisJQ">Adding a Road in OpenStreetMap</a> by HOTOSM 
                  </li>
                </ul>


            </div>
          </div>
        </li>
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-3"></div>
              <div class="title">Find out how to discover a mapping project focused on humanitarian or development needs.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>15&ndash;30 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              </br></br>
              <!--<h2>How to Select a Project in the OpenStreetMap Tasking Manager</h2>-->
              <div class="video">
                <div class="video-player-container shadowed" data="Pus2iFZphDU">
                  <img src="{{ site.baseurl }}/assets/img/hot_video_splash2.png" alt="YouTube embedded video: How to Select a Project in the OpenStreetMap Tasking Manager. Press space or enter to play video." class="img-responsive" />
                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>
                <p></p>
              </div>
              
            </div>
          </div>
        </li>

        <!--<li class="step start last clearfix">
            <div class="ico icon collecticon-star-full" style=""></div>
            <div class="row" style="margin-left: 0px;margin-right: 0px">-->

        <li class="step">
          <div class="row">
              <div class="col-sm-9 col-md-9">
                <div id="step-4"></div>
                <div class="title">What are you waiting for, let's get started!</div>
                <div class="col-sm-3 col-md-3"></div>
              </div>

            <div class="row infographics" >
              <div class="quote">
            </div>

              <div class="col-md-offset-1 col-sm-5 col-md-5 ">
                <!--<img src="{{ site.baseurl }}/assets/img/world.png" alt="A flat map of the world" class="img-responsive"/>-->

                <div style="padding-bottom:20px;min-height:83px;">View MapGive featured projects on the Start Mapping Page</div>

                <div class="text-center">
                <a href="{{ site.baseurl }}/projects" class="btn btn3 btn2 shadowed" role="button"><span class="first text">Start</span> <span class="first text">Mapping</span><span class="first text">Page</span></a>
                </div>
              </div>

              <div class="col-sm-1 col-md-1 text-center">

                <span class="step-or"></span>
                <div class="or-text">or</div>

              </div>

              <div class="col-sm-5 col-md-5 ">

                <div style="padding-bottom:20px;min-height:83px;">View all projects on the HOT Tasking Manager</div>

                <div class="text-center">
                  <a href="http://tasks.hotosm.org/" class="btn btn3 btn2 red-button shadowed" role="button"><span class="first text">HOT</span> <span class="first text">Tasking</span> <span class="first text">Manager</span></a>
                </div>

              </div>

            </div>

        </li>

        <li class="step">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div id="step-5"></div>
              <div class="title">Additional resources: Check out resources related to advanced mapping skills, data quality, and more -- available on the "MapGive in a Box" page.</div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              </br></br>

                <div class="doc rounded" style="padding:0px;">
                  <a href="{{ site.baseurl }}/box/#resources&additional-resources" class="header has-image" id="home_button" style="padding:0px;">
                    <img src="{{ site.baseurl }}/assets/img/box_graphic_small.png" alt="MapGive in a box home page" class="img-responsive" style="width:33%;display:inline;">MapGive in a Box Additional Resources
                  </a>
                </div>

            </div>
          </div>
        </li>


      <!--end of major ordered list section that the numbered circles are offset to-->
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include kepha-ngito.html %}
  </div>
</div>
