---
layout: default
title: Learn to Map 
twitterDescription: "Start mapping in three easy steps with #MapGive."
ogDescription: "Start mapping in three easy steps with the #MapGive video guide and instructions."
ogImage: "/assets/img/how-to-map.jpg"
ogVideo: "http://youtu.be/9Jz-xn9mw7E"
emailSubject: Get involved in crowdsourced mapping.
emailDescription: "Start mapping in three easy steps. Get an OpenStreetMap account, practice with our step-by-step video guide then choose a prioritized mapping task."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>This site provides step-by-step instructions to help volunteers like you learn to map and get involved in humanitarian initiatives.</p>
      <ol class="steps">
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-1"></div>
              <div class="title">Set up an account and get a log in from <a href="https://www.openstreetmap.org/user/new" target="_blank">OpenStreetMap</a>.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>5&ndash;10 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <p>Set up an account and get a login from OpenStreetMap. After you confirm your OSM account and opened the first map, return here.</p>
            </div>
          </div>
          <div class="row">
          	<div class="col-md-12">
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
                <dt id="accordion1-title1" role="tab" aria-controls="accordion1-panel1" aria-selected="true" aria-expanded="true" tabindex="0">More About Signing Up</dt>
                <dd id="accordion1-panel1" role="tabpanel" aria-labelledby="accordion1-title1" aria-hidden="false">
                  <p>Visit <a href="https://www.openstreetmap.org/user/new">OpenStreetMap</a>, and begin creating your account.</p>
                  <p>During your account set up you will see a “Contributor Terms of Agreement”. It may be different depending on which country you live in. You can select “France” “Italy”, or “Rest of the World” if you live in another country.</p>
                  <p>Next, click on the checkbox to allow your edits to be in the public domain. This ensures that all of the map data is open and available to the world. Once you’ve done that, click on “agree”.	  </p>
                  <p>Check your email and confirm your OpenStreetMap account by clicking the link provided.</p>
                  <p>Now that you have your account, proceed to Step 2 to learn and practice mapping.</p>
                </dd>
            	</dl>
            </div>
          </div>
        </li>
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-2"></div>
              <div class="title">Learn to map with us. Watch the video and follow the written instructions.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>1&ndash;3 hours</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ol>
                <li>We will walk you through the process of mapping.</li>
                <li>You will practice mapping a place you’ve never visited.</li>
              </ol>
              <h2>Learn How to Map in OpenStreetMap</h2>
              <div class="video">
                <div class="video-player-container shadowed" data="DpwGdS7wH1M">
                  <img src="/assets/img/how-to-map.jpg" alt="YouTube embedded video: Learn How to Map in OpenStreetMap. Press space or enter to play video." class="img-responsive" />
                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>
                <p class="caption"><a href="/transcripts/learn-to-map.html">Read the video transcript</a></p>
              </div>
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
                <dt id="accordion2-title1" role="tab" aria-controls="accordion2-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
                <dd id="accordion2-panel1" role="tabpanel" aria-labelledby="accordion2-title1" aria-hidden="false">
                  <p>Goal: Learn to Map in OSM. Whether you are brand new to online mapping or familiar with the process, this guide will explain OSM tools and workflow in context. The goal is to prepare you to answer humanitarian calls for volunteer mappers.      
Estimated time: Plan on 1-3 hours.</p>
                  <p>The first time you select the button, <strong>Start Mapping</strong>, a pop up bar appears at the top of the screen. It asks if wish to allow OpenStreetMap to know your current location.</p>
                  <p><strong>Tip</strong>: If the pop up disappears before you have a chance to complete the step, click the browser back button and select <strong>Start Mapping again</strong>.</p>
                  <p>Select <strong>Deny</strong> or <strong>Allow</strong> on the pop up bar. These instructions assume you have selected <strong>Allow</strong>.</p>
                  <p>A map of your current location will open up along with a dialog box that says, <strong>Welcome to the iD OpenStreetMap editor</strong>.</p>
                  <p>Select <strong>Start the Walkthrough</strong>. A new map opens; notice the explanatory dialog boxes that explain what you are looking at. There are also a number of tabs, including three we will focus on. These are noted in bold:</p>
                  <ul>
                    <li>Navigation</li>
                    <li><strong>Points</strong> (used to mark names of places)</li>
                    <li><strong>Lines</strong> (used to mark roads, tracks, and paths)</li>
                    <li><strong>Areas</strong> (used to mark outlines of buildings, fields, and or any other large area)</li>
                    <li>Start Editing</li>
                  </ul>
                  <p><strong>TIP</strong>: Even though you will not need to mark any points, as you won&#39;t know the names, it is good to understand how to mark them. </p>
                  <p>Assuming you are logged into your OpenStreetMap account, select the dropdown arrow next to the word <strong>Edit</strong> in the top left corner of the screen. Select the option <strong>Edit with iD</strong> (in browser editor). </p>
                  <p><strong>Map a Point</strong><br />To map a point in the OpenStreetMap iD editor:</p>
                  <ul>
                    <li>Select the <strong>Point</strong> button in the top left of the map. It will turn blue to let you know that it&#39;s been selected. Then click a position in the map where there is a building or area that you&#39;d like to define.</li>
                    <li>A <strong>Node</strong> icon appears. (<a href="http://wiki.openstreetmap.org/wiki/Node" target="_blank">Wikipedia defines a node</a> as: &ldquo;One of the core elements in the OpenStreetMap data model. It consists of a single point in space defined by its latitude, longitude and node id.&rdquo;) </li>
                    <li>The <strong>Set feature type /Set feature type</strong> dialog box also appears to the left of the map with a series of descriptive inputs. If you know the name of the building or area, or additional details, enter them here.</li>
                    <li>Once you&#39;ve finished adding details connected to the node, close the dialog box by clicking on the <strong>X</strong> to the right of <strong>Edit Feature</strong> at the top.</li>
                    <li>To edit the node again, click on it again and the dialog box will reopen.</li>
                    <li>To delete a node that is incorrect, or created by mistake, click on node. A trashcan icon appears next to it. Click on the trashcan to remove the node.</li>
                    <li>If you ever need to step back a few edits, click the back arrow icon at the top of the editor. You can allow step forward a few edits with the forward arrow icon.</li>
                    <li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users.</li>
                  </ul>
                  <p><strong>Map a Line</strong><br />To map a line in the OpenStreetMap iD editor:</p>
                  <ul>
                    <li>Click the <strong>Line</strong> button at the top of the iD OpenStreetMap editor. It turns blue to indicate it is selected.</li>
                    <li>Click on a position on the map. A dot appears connected to a line.</li>
                    <li>Click on another other point on the map; another dot appears and the line will connect those two points.</li>
                    <li>Draw more points to establish the line or, click the <strong>Esc</strong> escape button on your keyboard to finish drawing the line.</li>
                    <li>The line then glows red to let you know that it has been created and a dialog box opens up to the left of the map editor. </li>
                    <li>Specify whether the line is a road, path, river or other options.</li>
                    <li>You may be specific or general depending on the satellite picture.</li>
                    <li>To modify a line that has already been created, click on it. The dialog box reopens next to the editor along with the trashcan icon next to the line.</li>
                    <li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users. </li>
                  </ul>
                  <p><strong>Map an Area</strong><br />An area can be a park, a building, a lake, a forest or other types of enclosed filled land. To map an area in the OpenStreetMap iD editor:</p>
                  <ul>
                    <li>Click on the area button at the top of the editor. It turns blue to let you know that you&#39;ve selected it. </li>
                    <li>Select the edges of the building or land you want to define. Just click on the corners and the editor will fill in the space between.</li>
                    <li>Once you&#39;ve fully outlined what you want, press the <strong>Esc</strong> escape button on your keyboard. The area will turn red to let you know that it&#39;s been created. </li>
                    <li>A dialog box will appear next to the map editor and allow you to classify the area you&#39;ve just defined. There are numerous options and you may be as general or specific as possible.</li>
                    <li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users. </li>
                    <li>Once you hit save your edits are live and part of the OpenStreetMap data and immediately available to anyone in the world. </li>
                    <li>Take some time to practice what you’ve just learned. Once you feel confident in your ability to map, continue.
                    </li>
                  </ul>
                  <p>Congratulations on completing step 2 &mdash; Learn to Map!</p>
                </dd>
              </dl>
            </div>
          </div>
        </li>
        <li class="step last">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-3"></div>
              <div class="title">Choose a mapping task from the list and fill in the data points.</div>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <span class="clock"></span>
                <p class="estimate-title">Estimate</p>
                <p>30 minutes or more</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>How to Select a Task in the OpenStreetMap Tasking Manager</h2>
              <div class="video">
                <div class="video-player-container shadowed" data="4BNOvj0WZrk">
                  <img src="/assets/img/how-to-select.jpg" alt="YouTube embedded video: How to Select a Task in the OpenStreetMap Tasking Manager. Press space or enter to play video." class="img-responsive" />
                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>
                <p class="caption"><a href="/transcripts/osm-tasking-manager.html">Read the video transcript</a></p>
              </div>
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
                <dt id="accordion3-title1" role="tab" aria-controls="accordion3-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
                <dd id="accordion3-panel1" role="tabpanel" aria-labelledby="accordion3-title1" aria-hidden="false">
                	<p>Goal: Select a <strong>Job</strong> and <strong>Task</strong> from the OpenStreetMap Tasking Manager. You do not need to be at the location and do not need knowledge of the selected project area. You do need to identify and trace roads or paths, buildings or areas in the same way you did when you were learning to map. Estimated time to spend each time you sit down to work on a map tile that is part of a task: 30 minutes or more.
</p>
				<ul>
                	<li>To select a <strong>Job</strong>, navigate to the <a href="http://tasks.hotosm.org/" target="_blank">OpenStreetMap Tasking Manager</a> landing page. You will most likely not be able to add names to areas and roads but that is okay. Others with special knowledge of the area can add that later. Your map effort still makes a huge difference and a positive impact on humanitarian efforts.</li>
                	<li>Log in with your OpenStreetMap account. If you are still logged in to OpenStreetMap, you will not need to enter your login info.</li>
                	<li>A new page will open asking if the OpenStreetMap Tasking Manager can connect to your OpenStreetMap account. Click the accept button. You will be taken to a new page will a list of available jobs. You can see the titles, a description, who created them, when they were last updated and a percentage bar to show how complete the map is at this moment.</li>
                	<li>Select a Job. Once you’ve selected a job, a new page opens with a map and some information. The information about the job describes what the requester would like you to focus on, workflow, the tasks, which users have worked on this job and some stats about the job.</li>
                	<li>Use the interactive map and zoom in on the highlighted tiles. The job has been broken up into small tile areas of the map to allow you to do a little bit of mapping rather than trying to map the entire area. This also lets other simultaneously map other tiles, or areas. By doing this in small pieces, you can all work faster.</li>
                	<li>Gray squares represent all of the tasks available in this job. Red tiles are areas that have been marked as done. Green tiles are areas that were marked as done but have now been validated. Gray tiles with yellow outlines are areas that are currently being worked on. </li>
                	<li>Click on a gray tile to select it. This will allow you to start mapping. By selecting a tile you are “checking it out.” No one else will be able to edit this tile while you are working on it. Once you have completed working on the tile you will need to “check it back in” so others can validate or build on your work. The “check in” process is explained later in these instructions.</li>
                	<li>Once you select a gray square, the task tab will open up next to the map. The task tab has three sections: 
                		<ol>
                		<li>Open the area in your favorite editing tool.</li>                		
                		<li>Trace the elements.</li> 
                		<li>Add a comment and mark the task as done.</li> 
                		</ol>
                	</li>
                	<li>You will also see to the left of the map a notice that says this imagery is shared by the NextView license will appear. Click on the text to view and accept the license.</li>
                	<li>Now copy the imagery URL from the tasking manager into the iD OpenStreetMap editor.</li>
                	<li>To do this, simply copy the URL.</li>
                	<li>Before pasting the URL you just copied, select <strong>iD</strong> from the editing tool options and the OpenStreetMap editor opens in a new tab.</li>
                	<li>Click the layers icon on the right side of the screen in the OpenStreetMap editor. Now, click <strong>Custom</strong> and paste the imagery URL. </li>
                	<li>This places high-resolution satellite imagery into the editor for you to use when making your edits. You’ll know that the satellite imagery has loaded when you see the “Digital Globe” branding on the newly place imagery. It may take a while for the satellite imagery to load depending on your internet connection. </li>
                	<li>Now, simply make edits to the map - adding roads, paths, buildings, and areas - just like you did when you learned to map.
                	<br /><strong>TIP</strong>: You will not see the border of the tile you've selected in the map editor. That's okay. Try and stay within the area in which the map loads when you open the editor. BUT if you map outside of that area as well, that's okay too.</li>
                	<li>Some map areas will have a lot to map. Some will be mostly empty. Do as much as you can, or want to do, and then save your edits. </li>
                	<li>Once you have made edits and saved them, go back to the <strong>OpenStreetMap Tasking Manager</strong> tab.</li>
                	<li>On the left side of the screen, at the bottom, you can <strong>Mark task as done</strong> if you feel you have made all of the map edits possible in that area. If you did some edits but left more to do, click <strong>Unlock it</strong> (in the sentence below the done button) to release the map square back for others to edit.
                	<br /><strong>TIP</strong>: Unlocking a task = “checking it back in” to the system.
                	</li>
                	<li>If you saved your edits in the iD editor, they will still be there others or for you to come back to. </li>
                	<li>Thank you for learning how to map and also for mapping to make a difference. For further help, please watch the video tutorials on this site.</li>
                </ul>
                <p>Congratulations on completing step 3 &mdash; Start Mapping!</p>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <a href="http://tasks.hotosm.org/" target="_blank" class="more-info">Select a task</a>
              <!--<ul class="tasks">
              </ul>-->
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include kepha-ngito.html %}
  </div>
</div>
