---
layout: default
title: Projects
twitterDescription: "Want to be a digital humanitarian? Pick a project and get started with MapGive"
ogDescription: "To volunteer for crowd-sourced mapping initiatives all you need are basic computer skills. Learn about crowdsourced mapping and get started on a project on the MapGive website."
ogImage: "/assets/img/open-graph-logo.png"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailSubject: Volunteer for crowd-sourced mapping initiatives.
emailDescription: "To volunteer for crowd-sourced mapping initiatives all you need are basic computer skills. Mappers use satellite imagery to trace the outlines of landmarks for the creation of openly available maps for the humanitarian relief community. Learn about crowdsourced mapping and get started on a project on the MapGive website."
---

<style>
.tasks ul {
margin: 0 0 8px 0;
}
.tasks li {
margin: 0 0 3px 40px;
}
.tasks a {
   text-decoration: none; 
}
.tasks a:hover {
   text-decoration: underline; 
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item-pic {
  background: none;
  width: 300px;
  height: 200px;
  margin-top: 0px;
  box-shadow: 1px 1px 7px -3px #888;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item {
  background: none;
  padding: 20px;
  width: 300px;
  height: 200px;
  margin-top: 0px;
  box-shadow: 1px 1px 7px -3px #888;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.chart div {
  font: 20px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 8px;
  margin: 1px;
  color: white;
}

.axis path,
.axis line {
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


rect.mapped { fill: rgba(0, 128, 0, 0.4) }

rect.validated { fill: rgba(255, 198, 12, 0.4) }

 
text.value {
    font-size: 20px;
    fill: red;
}

text {
    font: 12px Open Sans,Arial,sans-serif;
    color: black;
}


</style>

<script src="https://d3js.org/d3.v5.min.js"></script>

<div class="row">
  <div class="col-md-9">
    <header role="header">
	<!--<h1 class="page-title">{{ page.title }}</h1>-->
	<h1 class="page-title">Select a Project</h1>
    </header>
  </div>
  <div class="col-md-3">
    {% include social-media.html %}
  </div>
</div>

<div class="row">

<div class="col-md-9">


    <div class="row">
      {% assign mid = site.categories.projects | sort: 'date' %}
      {% assign sorted_pages = mid | reverse %}

      {% assign project_list = "" | split: "" %}
        {% for post in sorted_pages %}
          {% assign display = null %}
          {% assign ready = null %}
          {% if post.featured == true %}{% assign display = true %}{% endif %}
          {% if display == true %}
          
            {% assign project_name = post.project-number %}
            {% if forloop.first == true %}
                {% assign project_list = project_list | push: "[" %}
                {% assign project_list = project_list | push: project_name %}
            {% else %}
                {% assign project_list = project_list | push: "," %}
                {% assign project_list = project_list | push: project_name %}
            {% endif %}
            
            {% if forloop.last == true %}
                {% assign project_list = project_list | push: "]" %}
            {% endif %}
            

          {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
  
            {% if thecycle == '4' %}
            <div class="row">
            {% endif %}

            <div class="col-sm-10 projects-thumbnail">
              <div class="projects-container">
                <ul class="flex-container">
                    <li class="flex-item-pic" >
                        <a href="{{ post.external_url }}" class="image">
                          <img src="{{ site.baseurl }}/assets/img/{{ post.photo }} " alt="{{ post.title }}" class="img-responsive shadowed" />
                        </a>
                    </li>
                    <li class="flex-item" style="display:flex"><div id="container-{{ post.project-number }}" class="svg-container"></div></li>
                </ul>
                <div class="caption">
                  <h3><a href="{{ post.external_url }}">{{ post.title }}</a></h3>
                  <p><strong>author</strong>: {{ post.author }}</p>
                  {{ post.content }}
                  <!--
                  <p><strong>published</strong>: {{ post.date | date: '%B %d, %Y' }}</p>
                  -->
                </div>
              </div>
            </div>

            {% if thecycle == '4' %}
              </div>
            {% endif %}

          {% endif %}
        {% endfor %}
    </div>


      <!-- The tasks class increases the font size -->
      <!--
      <ul class="tasks">
         <ul><a href="http://tasks.hotosm.org/project/2030" target="_blank" >Peace Corps Madagascar -- Sava Region</a></ul>
         <ul><a href="http://tasks.hotosm.org/project/1903" target="_blank" >Peace Corps Tanzania -- Lushoto</a></ul>
         <ul><a href="http://tasks.hotosm.org/project/1917" target="_blank" >Sahoue Zougbonou, Benin</a></ul>

         ** other

      </ul>
-->
         <!--
          <ul>Typhoon Ruby (Hagupit) Mapping, Philippines</ul>
            <ul>
              <li><a href="http://tasks.hotosm.org/project/808">Borongan</a></li>
              <li><a href="http://tasks.hotosm.org/project/807">Northwest Samar Islands</a></li>
              <li><a href="http://tasks.hotosm.org/project/805">Northwest Samar</a></li>
              <li><a href="http://tasks.hotosm.org/project/801">Northern Samar, <span style="color:red">(Advanced level)</span></a></li>
            </ul>
          <ul><a href="http://tasks.hotosm.org/project/768">Bohol Island: Part I, Philippines OpenRoad Project</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/621">Joru, Sierra Leone and Liberia</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/583">Kenema and Segbwema, Sierra Leone</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/586">Panguma, Sierra Leone</a></ul>
          <!--<li><a href="http://tasks.hotosm.org/job/422">Juba, South Sudan</a></li>-->

          <!--Nimule is 100 percent complete!   <ul><a href="http://tasks.hotosm.org/project/445">Nimule, South Sudan</a></ul>-->
          <!--
          <ul><a href="http://tasks.hotosm.org/project/458">Punia, DRC</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/468">Kalima, DRC</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/467">Kasese, DRC</a></ul>
          -->
      

</div>

<div class="col-md-3">
    {% include more-info.html %}
    {% include projects-sidebar.html %}
  </div>

</div>


<script>




function fetchProductData(project_list) {
    console.log('print project_list');
    console.log(project_list);
    
    project_list.forEach(function (ref) {
        console.log(ref);
        
        
        
        $.ajax({
            //url: "https://tasks.hotosm.org/api/v1/stats/project/7260",
			url: "https://tasking-manager-tm4-production-api.hotosm.org/api/v2/projects/" + ref + "/statistics/",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                console.log('hi');
                console.log(res.percentMapped);
                //$('#result').html(res.percentMapped)

                //d3 code
                //http://bl.ocks.org/anonymous/64f9c70bd629810bee67392f6224d414
                var data = [{"category": "mapped", "percent_complete": res.percentMapped },{"category": "validated", "percent_complete": res.percentValidated }];

                var chartElement = d3.select("div#container-" + ref).node();

                console.log('chart width ' + chartElement.getBoundingClientRect().width)
                console.log('chart height ' + chartElement.getBoundingClientRect().height)

                height = chartElement.getBoundingClientRect().height;

                width = chartElement.getBoundingClientRect().width;

                // since this is a horizontal bar chart, this is reversed
                var x = d3.scaleLinear().range([0, width]);
                var y = d3.scaleBand().range([height, 0])

                x.domain([0, 100]);
                y.domain(data.map(function(d) { return d.category; })).padding(0.45);

                var svg = d3.select("div#container-" + ref)
                      .append("svg")
                      .attr("preserveAspectRatio", "xMinYMin meet")
                      .attr("viewBox", "0 0 300 200")
                      .classed("svg-content", true);

                // append the rectangles for the bar chart
                bar = svg.selectAll(".bar")
                  .data(data)
                      .enter().append("g")


                  bar.append("rect")
                  //.attr("x", 0)
                  //.attr("y", y.bandwidth())
                  //.attr("x", function(d) { return x(d.sales); })
                  .attr("class", function(d) { return d.category })
                  .attr("width", function(d) { return d.percent_complete + "%"; })
                  .attr("y", function(d) { return y(d.category); })
                  .attr("height", y.bandwidth());
                  


                bar.append("text")
                    .attr("class", "value")
                    .attr("y", function(d) { return y(d.category); })
                    .attr("dy", y.bandwidth() - 40)
                    .attr("text-anchor", "start")
                    .text(function(d){
                        return (d.category + ": " + d.percent_complete+"% complete");
                    })
                    .attr("x", 10);

                

                // add the y Axis
                svg.append("g")
                  .attr("class", "y axis")
                  .call(d3.axisLeft(y));

        
                // add the x Axis
                svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(d3.axisBottom(x).tickValues([100]).tickFormat(function(d) { return d + "%"; }));

            }
        });
        
        
        
        
        
    });




   }







$(document).ready(function(){
  console.log('print project list');
  //console.log({{project_list}});
  var construct_array = {{project_list}};
  //console.log(construct_array);
  console.log(construct_array);
  console.log(construct_array[1]);


  var products = fetchProductData(construct_array);
});



/*
$(document).ready(function(){
   
   $.ajax({
            //url: "https://tasks.hotosm.org/api/v1/stats/project/7260",
			url: "https://tasking-manager-tm4-production-api.hotosm.org/api/v2/projects/{{ post.project-number }}/statistics/",
            type: 'GET',
            dataType: 'json',
            success: function(res) {
                console.log('hi');
                console.log(res.percentMapped);
                //$('#result').html(res.percentMapped)

                //d3 code
                //http://bl.ocks.org/anonymous/64f9c70bd629810bee67392f6224d414
                var data = [{"category": "mapped", "percent_complete": res.percentMapped },{"category": "validated", "percent_complete": res.percentValidated }];

                var chartElement = d3.select('div#container').node();

                console.log('chart width ' + chartElement.getBoundingClientRect().width)
                console.log('chart height ' + chartElement.getBoundingClientRect().height)

                height = chartElement.getBoundingClientRect().height;

                width = chartElement.getBoundingClientRect().width;

                // since this is a horizontal bar chart, this is reversed
                var x = d3.scaleLinear().range([0, width]);
                var y = d3.scaleBand().range([height, 0])

                x.domain([0, 100]);
                y.domain(data.map(function(d) { return d.category; })).padding(0.45);

                var svg = d3.select("div#container")
                      .append("svg")
                      .attr("preserveAspectRatio", "xMinYMin meet")
                      .attr("viewBox", "0 0 300 200")
                      .classed("svg-content", true);

                // append the rectangles for the bar chart
                bar = svg.selectAll(".bar")
                  .data(data)
                      .enter().append("g")


                  bar.append("rect")
                  //.attr("x", 0)
                  //.attr("y", y.bandwidth())
                  //.attr("x", function(d) { return x(d.sales); })
                  .attr("class", function(d) { return d.category })
                  .attr("width", function(d) { return d.percent_complete + "%"; })
                  .attr("y", function(d) { return y(d.category); })
                  .attr("height", y.bandwidth());
                  


                bar.append("text")
                    .attr("class", "value")
                    .attr("y", function(d) { return y(d.category); })
                    .attr("dy", y.bandwidth() - 40)
                    .attr("text-anchor", "start")
                    .text(function(d){
                        return (d.category + ": " + d.percent_complete+"% complete");
                    })
                    .attr("x", 10);

                

                // add the y Axis
                svg.append("g")
                  .attr("class", "y axis")
                  .call(d3.axisLeft(y));

        
                // add the x Axis
                svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(d3.axisBottom(x).tickValues([100]).tickFormat(function(d) { return d + "%"; }));
                        
               
               


            }
        });

})
*/


</script>

