---
layout: default
title: Projects
twitterDescription: "Want to be a digital humanitarian? Pick a project and get started with MapGive"
ogDescription: "To volunteer for crowd-sourced mapping initiatives all you need are basic computer skills. Learn about crowdsourced mapping and get started on a project on the MapGive website."
ogImage: "/assets/img/open-graph-logo.png"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailSubject: Volunteer for crowd-sourced mapping initiatives.
emailDescription: "To volunteer for crowd-sourced mapping initiatives all you need are basic computer skills. Mappers use satellite imagery to trace the outlines of landmarks for the creation of openly available maps for the humanitarian relief community. Learn about crowdsourced mapping and get started on a project on the MapGive website."
---

<style>
.tasks ul {
margin: 0 0 8px 0;
}
.tasks li {
margin: 0 0 3px 40px;
}
.tasks a {
   text-decoration: none; 
}
.tasks a:hover {
   text-decoration: underline; 
}
</style>

<div class="row">
  <div class="col-md-8">
    <header role="header">
	<!--<h1 class="page-title">{{ page.title }}</h1>-->
	<h1 class="page-title">Select a Project</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>

<div class="row">

<div class="col-md-8">

      <p>
      <!-- The tasks class increases the font size -->
      <ul class="tasks">
         <ul><a href="http://tasks.hotosm.org/project/1336">Bandung City, West Java, Indonesia</a></ul>
         <ul><a href="http://tasks.hotosm.org/project/1259">Mount Gamalama - Maluku Islands, Indonesia</a></ul>
         <ul><a href="http://tasks.hotosm.org/project/1080">Haiti, Caracol</a></ul>
         <ul><a href="http://tasks.hotosm.org/project/1129">Leyte, Philippines</a></ul>

         <!--
          <ul>Typhoon Ruby (Hagupit) Mapping, Philippines</ul>
            <ul>
              <li><a href="http://tasks.hotosm.org/project/808">Borongan</a></li>
              <li><a href="http://tasks.hotosm.org/project/807">Northwest Samar Islands</a></li>
              <li><a href="http://tasks.hotosm.org/project/805">Northwest Samar</a></li>
              <li><a href="http://tasks.hotosm.org/project/801">Northern Samar, <span style="color:red">(Advanced level)</span></a></li>
            </ul>
          <ul><a href="http://tasks.hotosm.org/project/768">Bohol Island: Part I, Philippines OpenRoad Project</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/621">Joru, Sierra Leone and Liberia</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/583">Kenema and Segbwema, Sierra Leone</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/586">Panguma, Sierra Leone</a></ul>
          <!--<li><a href="http://tasks.hotosm.org/job/422">Juba, South Sudan</a></li>-->

          <!--Nimule is 100 percent complete!   <ul><a href="http://tasks.hotosm.org/project/445">Nimule, South Sudan</a></ul>-->
          <!--
          <ul><a href="http://tasks.hotosm.org/project/458">Punia, DRC</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/468">Kalima, DRC</a></ul>
          <ul><a href="http://tasks.hotosm.org/project/467">Kasese, DRC</a></ul>
          -->
      </ul>

</div>

<div class="col-md-offset-1 col-md-3">
    {% include tracing_guides-sidebar.html %}
</div>

</div>
          

