---
layout: default
title: Commonly Asked Questions
---

<header role="header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="row">
  <div class="col-md-8" role="application">
    <div class="panel-group" id="accordion" role="tablist">
      {% for post in site.categories.faq %}
      <article>
        <div class="panel panel-default">
          <div class="panel-heading">
            <header role="header">
              <h4 class="panel-title" id="tab{{ forloop.index }}" aria-selected="false" aria-controls="collapse{{ forloop.index }}" aria-expanded="true" role="tab">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.index }}">
                  {{ post.title }}
                </a>
              </h4>
            </header>
          </div>
          <div id="collapse{{ forloop.index }}" class="panel-collapse in" aria-labelledby="tab{{ forloop.index }}" aria-hidden="false" role="tabpanel">
            <div class="panel-body">
              {{ post.content }}
            </div>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>
