---
layout: default
title: Why Map? 
twitterDescription: "Crowd-sourced mapping initiatives need more volunteer mappers. Join the crowd."
ogDescription: "Volunteer for crowd-sourced mapping initiatives and help the humanitarian relief community. #MapGive, drawing resources together."
ogImage: "{{ site.baseurl }}/assets/img/the-cause.jpg"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailSubject: Volunteer for crowd-sourced mapping initiatives.
emailDescription: "To volunteer for crowd-sourced mapping initiatives all you need is basic computer skills. Mappers use U.S. government purchased unclassified, satellite imagery to trace the outlines of landmarks for the creation of openly available maps for the humanitarian relief community."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>Volunteers like you can help trace roads, buildings, and houses using OpenStreetMap that will aid in humanitarian missions. MapGive provides you with the steps. <a href="{{ site.baseurl }}/learn-to-map/" class="action-link">Learn to Map</a></p>
    <section>
      <div class="video">
        <div class="video-player-container shadowed" data="C175zW8-6j8" tabindex="0">
          <img src="{{ site.baseurl }}/assets/img/the-cause.jpg" alt="YouTube embedded video: The Cause. Press space or enter to play video." class="img-responsive" />
          <div class="play"><span class="play-button"></span></div>
        </div>
        <p class="caption"><a href="{{ site.baseurl }}/transcripts/the-cause.html">Read the video transcript</a></p>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="pull-left media-object">
          <span class="marker"></span>
        </div>
        <div class="media-body">
          <header role="header">
            <h2 class="media-heading">What Can I Do?</h2>
          </header>
          <p>Join the community of online volunteer mappers.  Make a powerful contribution with an Internet connection and basic computer skills, even if you do not live in the area you are mapping. Use satellite imagery to trace the outlines of roads, structures and land features for the creation of openly available data used to produce maps that help the humanitarian and development community.</p>
          <p>There are several ways to get involved and aid humanitarian crowd-sourced mapping initiatives. This site provides one such path: <a href="{{ site.baseurl }}/learn-to-map/" class="action-link">Learn to Map</a></p>
        </div>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="pull-left media-object">
            <span class="globe"></span>
          </div>
        <div class="media-body">
          <header role="header">
            <h2 class="media-heading">Why Should I Map?</h2>
          </header>
          <p>Quality geographic data helps empower organizations and communities to make important decisions across a range of environmental, economic and crisis management themes. For many places in the world, this information is incomplete or does not exist at all. Digital humanitarians map online to help give others the data they need to build a more sustainable future.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="media last">
        <div class="pull-left media-object">
          <span class="map"></span>
        </div>
        <div class="media-body">
          <header role="header">
            <h2 class="media-heading">Why OpenStreetMap?</h2>
          </header>
          <p>Through the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License 1.0</a>, OpenStreetMap (OSM) contributors own, modify and share data publicly. There are many other free maps on the Internet, but most have legal or technical restrictions preventing others from using the data openly. With OSM both the maps and underlying data can be downloaded for free, for developers or anyone to use or redistribute. Additionally, in many places of the world where there is no commercial motivation to develop this data, OSM is often the best available resource.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tyler-machado.html %}
  </div>
</div>

