---
layout: default
title: Commonly Asked Questions
twitterDescription: "Have questions about humanitarian digital map projects? #MapGive has the answers."
ogDescription: "Find answers to commonly asked questions about the #MapGive campaign."
ogImage: "/assets/img/open-graph-logo.png"
emailDescription: "Have questions about MapGive? Find answers to commonly asked questions."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
      <dt id="title1" role="tab" aria-controls="panel1" aria-selected="true" aria-expanded="true" tabindex="0">Why do we need mappers when satellite imagery is available?</dt>
      <dd id="panel1" role="tabpanel" aria-labelledby="title1" aria-hidden="false">
        <p>Many people assume that detailed, accessible geographic data is available – when often it is not. It can be expensive or simply does not exist. As a volunteer, your efforts build a foundation of data and make it freely available to the public. </p>
      </dd>

      <dt id="title2" role="tab" aria-controls="panel2" aria-selected="true" aria-expanded="true" tabindex="0">How do you know that the information volunteers provide is accurate?</dt>
      <dd id="panel2" role="tabpanel" aria-labelledby="title2" aria-hidden="false">
        <p>Members of the professional online mapping community review samples of map edits for quality assurance. When a mapper completes a tile, it turns red. Then, an experienced mapper, typically from the Humanitarian OpenStreetMap team, reviews a sample of those edits to validate the work.  Validated tiles display as green. If edits are not acceptable, then the reviewer resets the tile to grey and returns it to the tasking manager to be worked on again. Additionally, with the large number of volunteer mappers contributing data, the information is often self-checked by the online mapping community itself.</p>
      </dd>

      <dt id="title3" role="tab" aria-controls="panel3" aria-selected="true" aria-expanded="true" tabindex="0">How is OpenStreetMap/H.O.T. different than other online map providers and tools like Ushahidi and others?</dt>
      <dd id="panel3" role="tabpanel" aria-labelledby="title3" aria-hidden="false">
        <p><a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and <a href="http://www.ushahidi.com/" target="_blank">Ushahidi</a> work together. Ushahidi is an open source project which allows users to crowdsource information for mobile distribution.  Such platforms cannot function without base map data. Geographic data provides the bridge between citizen reporting and action. </p>
        <p>Mapquest Open directly edits OpenStreetMap data; it is primarily focused on the U.S.</p>
        <p>Microsoft Bing allows OSM to use some of its satellite imagery.</p>
        <p>Many other online map providers do not put data in the public domain. Essentially, if you work within some tools, you are creating data that the provider owns. These providers also typically impose restrictions on the usage of the created maps and most importantly, the data that was used to create the maps.</p>
      </dd>
      
	  <dt id="title4" role="tab" aria-controls="panel4" aria-selected="true" aria-expanded="true" tabindex="0">What is HOT?</dt>
      <dd id="panel4" role="tabpanel" aria-labelledby="title4" aria-hidden="false">
        <p>The <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a> is incorporated as a U.S. based 501c(3) non-profit organization that coordinates volunteer mappers and on the ground mapping efforts through OpenStreetMap. The efforts of the Humanitarian OpenStreetMap Team (H.O.T.) first had a significant impact supporting on the ground efforts after an earthquake hit Haiti in 2010. Its mission is to apply the principles of open source and open data sharing towards humanitarian response and economic development.</p>
      </dd>




    </dl>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>
