---
layout: default
title: Commonly Asked Questions
twitterDescription: "Have questions about humanitarian digital map projects? #MapGive has the answers."
ogDescription: "Find answers to commonly asked questions about the #MapGive campaign."
ogImage: "/assets/img/open-graph-logo.png"
emailDescription: "Have questions about MapGive? Find answers to commonly asked questions."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
      <dt id="title1" role="tab" aria-controls="panel1" aria-selected="true" aria-expanded="true" tabindex="0">Why do we need mappers when satellite imagery is available?</dt>
      <dd id="panel1" role="tabpanel" aria-labelledby="title1" aria-hidden="false">
        <p>Many people assume that detailed, accessible geographic data is available – when often it is not. It can be expensive or simply does not exist. As a volunteer, your efforts build a foundation of data and make it freely available to the public. </p>
      </dd>

      <dt id="title2" role="tab" aria-controls="panel2" aria-selected="true" aria-expanded="true" tabindex="0">Mea affert mollis</dt>
      <dd id="panel2" role="tabpanel" aria-labelledby="title2" aria-hidden="false">
        <p>Mea affert mollis efficiendi ut, meis nihil offendit vim no. Probo maluisset accommodare eam ei. Te usu tacimates sententiae neglegentur, veniam corpora pro at. Mei no quidam latine eripuit. Ex quo amet suas. Id sit invenire quaerendum, veri reque eruditi mea cu.</p>
        <p>Sed indoctum democritum no. Ad per tale postea regione. Id sea dolore incorrupte dissentiunt. Mei an praesent recteque definitionem.</p>
        <p>An assum elitr pri, meis nemore numquam no cum. Liber posidonium sadipscing pri ei, ignota mnesarchum ius an. Eum inermis accumsan repudiare cu. Pri eu melius gubergren. Ut vis dicit phaedrum, eum dicant conclusionemque ne, prompta interesset vim no. Torquatos sadipscing vel at, his dicat iusto et.</p>
      </dd>

      <dt id="title3" role="tab" aria-controls="panel3" aria-selected="true" aria-expanded="true" tabindex="0">Eius mutat graecis mea ne</dt>
      <dd id="panel3" role="tabpanel" aria-labelledby="title3" aria-hidden="false">
        <p>Eius mutat graecis mea ne, ad tantas recusabo urbanitas est. Id est integre quaeque posidonium, ea sit labitur consequat pertinacia. Probatus rationibus ei ius, amet suas mea ei. Mea reque animal invidunt in, eum an verear pericula. Ea nam autem oblique nominavi, eu ius aeque indoctum instructior. Vidisse convenire et eos, ei doming officiis delicata ius.</p>
        <p>Et facilisis suscipiantur vis, dicunt mandamus torquatos ex per, dolorem argumentum cu nam. Quo dicant decore conceptam et, an legimus dolores vim. Fugit scribentur concludaturque ei eam, nec vide voluptatum intellegebat ad. At facer molestiae forensibus nec. Mutat ullum regione vis ex, ad omnes appareat cum.</p>
        <p>Per ut temporibus neglegentur, est an reprimique scribentur theophrastus. Cu commune conceptam sit. Eu vis eirmod facilis salutatus. Vim eu persius omittam. Nisl pertinacia eos at.</p>
        <p>Invenire dissentias adversarium sed an, te doming euismod liberavisse his. Iudico tacimates cum no, ad essent postulant partiendo vix. Cu meliore voluptaria comprehensam eos. Usu cu liber quando. Labore qualisque no has, quodsi diceret tincidunt duo id, te ius ornatus cotidieque referrentur.</p>
        <p>Veri aeque ex sea, ei diam posse lucilius pri. Eum alia vivendo ea. Vim dissentias quaerendum vituperatoribus et, omnes repudiare mea eu, cu mutat omnesque vel. Vel ei nostrud forensibus reprehendunt.</p>
      </dd>
    </dl>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>
