---
layout: default
title: Start Mapping 
---

<header role="header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>Many websites offer points of entry and training instructions for people interested in getting involved in humanitarian mapping initiatives. This site provides one path. Follow our step-by-step instructions in this order:</p>
      <ol class="steps">
        <li class="step" id="step-1">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <span class="title">Set up an account and get a log in from <a href="https://www.openstreetmap.org/user/new" target="_blank">OpenStreetMap</a></span>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Estimate</p>
                <p>5&ndash;10 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <p>You must join OpenStreetMap in order to be able to map.</p>
            </div>
          </div>
          <div class="row">
          	<div class="col-md-12">
          		<h2>This is the Title of the Video</h2>
              	<div class="video">
                <div class="video-player-container shadowed">
                  <iframe width="560" height="315" src="//www.youtube.com/embed/T-D1KVIuvjA?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen	></iframe>
                </div>
                <p class="caption"><a href="#">Read the video transcript</a></p>
              </div>
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
            	<dt id="accordion1-title1" role="tab" aria-controls="accordion1-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
            	<dd id="accordion1-panel1" role="tabpanel" aria-labelledby="accordion1-title1" aria-hidden="false">
            		<p>Goal: Set up an account and get a log in from OpenStreetMap (OSM). You must join OSM to participate in their mapping projects.  There is no cost to do so, but you must agree to OSM terms of service. Estimated time to set up your account: 10 minutes.</p>
					<p>Connect to the Internet, open a web browser and navigate to <a href="http://www.openstreetmap.org/#map=5/51.500/-0.100" target="_blank">OpenStreetMap (OSM)</a>.			</p>
						<ul>
							<li>Select the <em>Sign Up</em> button at the top right of the screen. </li>
							<li>The next page displays a friendly globe image. Fill in the fields:
						<ul>
					<li>Email Address</li>
					<li>Confirm Email Address</li>
					<li>Display name</li>
					<li>Password</li>
					<li>Confirm password</li>
					</ul></li>
		<li>Select the <em>Sign Up</em> button under these fields and you will be taken to 			a page with contributor terms agreements.</li>
		<li>Depending on your location, you will have a different agreement to accept. Choose:
			<ul>
				<li>France</li>
				<li>Italy</li>
				<li>Rest of the world </li>
			</ul></li>
		<li>Read the agreement terms.
			<ul>
				<li>To continue, you will need to agree to allow your edits to be in the public domain. If you agree and wish to continue, click on the check box. This ensures that all of the map data is open and available to the world. Once you’ve done that, click <em>Agree</em>. </li>
				<li><em>Tip</em>: If you <em>Decline</em>, you will be directed to a page that says you cannot contribute data to OpenStreetMap information.  It will include contact information for the OpenStreetMap foundation legal team. </li>
			</ul></li>
		<li>If you select <em>Agree</em>, you will see a message to <em>Check your email</em>! </li>
		<li>Open a new browser window or tab and open your email.</li>
		<li>Open the email from OpenStreetMap asking you to confirm that it was in fact you who set up an OpenStreetMap account.</li>
		<li>Click on the link and a new tab will display the OpenStreetMap Welcome! page. It includes a short description of what is allowed, and what isn’t allowed, in OpenStreetMap. You will also see a brief collection of terms you will learn more about later in the process.</li>
		<li>Navigate down the page and select the <em>Start Mapping</em> button.</li>
	</ul>
<p>Congratulations on completing Step 1 &mdash; Now move on to Step 2.</p>
            	
            	
            	
            	
            	</dd>
            	</dl>
        	</div>
          </div>
        </li>
        <li class="step" id="step-2">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <span class="title">Learn to map with us. After you have confirmed your OSM account and opened the first map, return here. Watch the video and follow the written instructions.</span>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Estimate</p>
                <p>5&ndash;10 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="md-col-12">
              <ol>
                <li>We will walk you through the process of mapping.</li>
                <li>You will practice mapping in your neighborhood.</li>
              </ol>
              <h2>This is the Title of the Video</h2>
              <div class="video">
                <div class="video-player-container shadowed">
                  <iframe width="560" height="315"
                    src="//www.youtube.com/embed/tryHJ0OklN4?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <p class="caption"><a href="#">Read the video transcript</a></p>
              </div>
              <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
            <dt id="accordion2-title1" role="tab" aria-controls="accordion2-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
            <dd id="accordion2-panel1" role="tabpanel" aria-labelledby="accordion2-title1" aria-hidden="false">
              <p>Goal: Learn to Map in OSM. Whether you are brand new to online mapping or familiar with the process, this guide will explain OSM tools and workflow in context.  The goal is to prepare you to answer humanitarian calls for volunteer mappers. Estimated time:  Plan on 1-3 hours.</p>
<p>The first time you select the button, <strong>Start Mapping</strong>, a pop up bar appears at the top of the screen. It asks if wish to allow OpenStreetMap to know your current location.</p>
<p><strong>Tip</strong>: If the pop up disappears before you have a chance to complete the step, click the browser back button and select <strong>Start Mapping again</strong>.</p>
<p>Select <strong>Deny</strong> or <strong>Allow</strong> on the pop up bar. These instructions assume you have selected <strong>Allow</strong>. <strong>Tip</strong>: TBD what to do if you select Deny</p>
<p>A map of your current location will open up along with a dialog box that says, <strong>Welcome to the iD OpenStreetMap editor</strong>.</p>
<p>Select <strong>Start the Walkthrough</strong>. A new map opens; notice the explanatory dialog boxes that explain what you are looking at. There are also a number of tabs, including three we will focus on. These are noted in bold:</p>
<ul>
<li>Navigation</li>
<li><strong>Points</strong> (used to mark names of places)</li>
<li><strong>Lines</strong> (used to mark roads, tracks, and paths)</li>
<li><strong>Areas</strong> (used to mark outlines of buildings, fields, and or any other large area)</li>
<li>Start Editing</li>
</ul>
<p><strong>TIP</strong>: Even though you will not need to mark any points, as you won&#39;t know the names, it is good to understand how to mark them. </p>
<p>Assuming you are logged into your OpenStreetMap account, select the dropdown arrow next to the word <strong>Edit</strong> in the top left corner of the screen. Select the option <strong>Edit with iD</strong> (in browser editor). </p>
<p><strong>Map a Point</strong><br />To map a point in the OpenStreetMap iD editor:</p>
<ul>
<li>Select the <strong>Point</strong> button in the top left of the map. It will turn blue to let you know that it&#39;s been selected. Then click a position in the map where there is a building or area that you&#39;d like to define.</li>
<li>A <strong>Node</strong> icon appears. (<a href="http://wiki.openstreetmap.org/wiki/Node" target="_blank">Wikipedia defines a node</a> as: &ldquo;One of the core elements in the OpenStreetMap data model. It consists of a single point in space defined by its latitude, longitude and node id.&rdquo;) </li>
<li>The <strong>Set feature type /Set feature type</strong> dialog box also appears to the left of the map with a series of descriptive inputs. If you know the name of the building or area, or additional details, enter them here.</li>
<li>Once you&#39;ve finished adding details connected to the node, close the dialog box by clicking on the <strong>X</strong> to the right of <strong>Edit Feature</strong> at the top.</li>
<li>To edit the node again, click on it again and the dialog box will reopen.</li>
<li>To delete a node that is incorrect, or created by mistake, click on node. A trashcan icon appears next to it. Click on the trashcan to remove the node.</li>
<li>If you ever need to step back a few edits, click the undo (reverse arrow) icon at the top of the editor. You can allow step forward a few edits with the redo (forward arrow) icon.</li>
<li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users.</li>
</ul>
<p><strong>Map a Line</strong><br />To map a line in the OpenStreetMap iD editor:</p>
<ul>
<li>Click the <strong>Line</strong> button at the top of the iD OpenStreetMap editor. It turns blue to indicate it is selected.</li>
<li>Click on a position on the map. A dot appears connected to a line.</li>
<li>Click on another other point on the map; another dot appears and the line will connect those two points.</li>
<li>Draw more points to establish the line or, click the <strong>Esc</strong> escape button on your keyboard to finish drawing the line.</li>
<li>The line then glows red to let you know that it has been created and a dialog box opens up to the left of the map editor. </li>
<li>Specify whether the line is a road, path, river or other options.</li>
<li>You may be specific or general depending on the satellite picture.</li>
<li>To modify a line that has already been created, click on it. The dialog box reopens next to the editor along with the trashcan icon next to the line.</li>
<li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users. </li>
</ul>
<p><strong>Map an Area</strong><br />An area can be a park, a building, a lake, a forest or other types of enclosed filled land. To map an area in the OpenStreetMap iD editor:</p>
<ul>
<li>Click on the area button at the top of the editor. It turns blue to let you know that you&#39;ve selected it. </li>
<li>Select the edges of the building or land you want to define. Just click on the corners and the editor will fill in the space between.</li>
<li>Once you&#39;ve fully outlined what you want, press the <strong>Esc</strong> escape button on your keyboard. The area will turn red to let you know that it&#39;s been created. </li>
<li>A dialog box will appear next to the map editor and allow you to classify the area you&#39;ve just defined. There are numerous options and you may be as general or specific as possible.</li>
<li>Always remember to hit save at the top of the editor. This allows for your map edits to be visible by other OpenStreetMap users. </li>
<li>Once you hit save your edits are live and part of the OpenStreetMap data and immediately available to anyone in the world. </li>
</ul>
<p><strong>Learn to Trace Satellite Image Objects</strong><br />
Before selecting one of the Humanitarian OpenStreetMap team&#39;s highlighted tasks to work on, you&#39;ll need the ability to interpret what you will see in satellite imagery. You may be familiar with the type of structures and roads populate your own area but types and shapes of structures and paths vary around the world. That&#39;s why we created this tracing guide and image file as a handy resource. 
</p>
<p>Take some time to practice using these tools and once you gain confidence in your ability to map, navigate to the Get Started tab to choose one of the Humanitarian OpenStreetMap team&#39;s highlighted tasks.</p>
<p>
Congratulations on completing step 2 &mdash; Learn to Map!
</p>
            </dd>
          </dl>
            </div>
          </div>
        </li>
        <li class="step last" id="step-3">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <span class="title">Choose a mapping task from the list and fill in the data points.</span>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Estimate</p>
                <p>5&ndash;10 minutes</p>
              </div>
            </div>
          </div>
          <div class="row">
         	<div class="col-md-12">
         		<h2>This is the Title of the Video</h2>
              	<div class="video">
                	<div class="video-player-container shadowed">
                  		<iframe width="560" height="315" src="//www.youtube.com/embed/T-D1KVIuvjA?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen	></iframe>
                	</div>
                	<p class="caption"><a href="#">Read the video transcript</a></p>
              	</div>
             	<dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
            		<dt id="accordion3-title1" role="tab" aria-controls="accordion3-panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
            		<dd id="accordion3-panel1" role="tabpanel" aria-labelledby="accordion3-title1" aria-hidden="false"></dd>
            	</dl>
         	</div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <a href="http://tasks.hotosm.org/" target="_blank" class="more-info">Learn more about the tasks</a>
              <ul class="tasks">
                <li><a href="#">Map South Sudan</a></li>
                <li><a href="#">Map Haiti</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include story-promo.html %}
  </div>
</div>
