---
layout: default
title: Start Mapping 
---

<header role="header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>Many websites offer points of entry and training instructions for people interested in getting involved in humanitarian mapping initiatives. This site provides one path. Follow our step-by-step instructions in this order:</p>

      <ol class="steps">
        <li class="step" id="step-1">
          <span class="title">Set up an account and get a log in from <a href="https://www.openstreetmap.org/user/new" target="_blank">OpenStreetMap</a></span>
          <p>Estimated time investment: 5-10 minutes.<br />
          You must join OpenStreetMap in order to be able to map.</p>
        </li>
        <li class="step" id="step-2">
          <span class="title">Learn to map with us. After you have confirmed your OSM account and opened the first map, return here. Watch the video and follow the written instructions.</span>
          <p>Estimated time investment: 2 hours - 2 days.</p>
          <ol>
            <li>We will walk you through the process of mapping.</li>
            <li>You will practice mapping in your neighborhood.</li>
          </ol>
          <h2>This is the Title of the Video</h2>
          <div class="video">
            <div class="video-player-container shadowed">
              <iframe width="560" height="315"
                src="//www.youtube.com/embed/tryHJ0OklN4?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="caption"><a href="#">Read the video transcript</a></p>
          </div>
          <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
            <dt id="title1" role="tab" aria-controls="panel1" aria-selected="true" aria-expanded="true" tabindex="0">Read the Written Instructions</dt>
            <dd id="panel1" role="tabpanel" aria-labelledby="title1" aria-hidden="false">
              <p>Lorem ipsum dolor sit amet, ei vix dico assum mundi. Vim vero natum zril in, eam viderer fabulas petentium cu. Eu per democritum scriptorem. Est graeci mentitum eu, adhuc dicant voluptaria cu vel.</p>
              <p>Id eirmod inermis philosophia quo. Nisl feugait intellegebat ex eum, at eius natum eum. Id bonorum constituto concludaturque pri. At omittam accusata nec, eu sed quando iriure, in consul causae philosophia his. Qui no elit duis verterem.</p>
              <p>Vix sumo dicant utroque eu. Solum quaestio erroribus vel cu, volumus accumsan scribentur ad pri. Graece bonorum mediocrem eu mel, epicurei definitiones sed at. Ad stet falli luptatum pri. Magna timeam phaedrum ad sed.</p>
              <p>Consulatu neglegentur cu eos, maiorum accusam officiis te has, eu commune facilisi urbanitas nam. Sit in causae vocibus eleifend, et eum eius ullum legendos. Fierent invenire elaboraret his in. Duo ipsum sonet suscipit te, virtute tractatos ex vis, an mei suas suscipit consulatu.</p>
              <p>Te nam omnis errem recusabo, cu lorem ignota dignissim cum, vel eros corrumpit cu. Natum partiendo no sed. Cum ei explicari dissentiunt. Id his ferri integre honestatis, sea in officiis efficiendi scribentur. At affert iudicabit eam, ne quodsi habemus nec.</p>
            </dd>
          </dl>
        </li>
        <li class="step" id="step-3">
          <span class="title">Choose a mapping task from the list and fill in the data points.</span>
          <p>Estimated time investment: 1 hour or 24 hours.</p>
          <a href="http://tasks.hotosm.org/" target="_blank" class="more-info">Learn more about the tasks</a>
          <ul class="tasks">
            <li><a href="#">Map South Sudan</a></li>
            <li><a href="#">Map Haiti</a></li>
          </ul>
        </li>
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include story-promo.html %}
  </div>
</div>
