---
layout: default
title: Start Mapping 
---

<header role="header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>Many websites offer points of entry and training instructions for people interested in getting involved in humanitarian mapping initiatives. This site provides one path. Follow our step-by-step instructions in this order:</p>

      <ol class="steps">
        <li class="step" id="step-1">
          <span class="title">Set up an account and get a log in from <a href="https://www.openstreetmap.org/user/new" target="_blank">OpenStreetMap</a></span>
          <p>Estimated time investment: 5-10 minutes.<br />
          You must join OpenStreetMap in order to be able to map.</p>
        </li>
        <li class="step" id="step-2">
          <span class="title">Learn to map with us. After you have confirmed your OSM account and opened the first map, return here. Watch the video and follow the written instructions.</span>
          <p>Estimated time investment: 2 hours - 2 days.</p>
          <ol>
            <li>We will walk you through the process of mapping.</li>
            <li>You will practice mapping in your neighborhood.</li>
          </ol>
          <h2>This is the Title of the Video</h2>
          <div class="video">
            <div class="video-player-container shadowed">
              <iframe width="560" height="315"
                src="//www.youtube.com/embed/tryHJ0OklN4?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="caption"><a href="#">Read the video transcript</a></p>
          </div>
          <button type="button" class="btn btn-default">Read the Written Instructions</button>
        </li>
        <li class="step" id="step-3">
          <span class="title">Choose a mapping task from the list and fill in the data points.</span>
          <p>Estimated time investment: 1 hour or 24 hours.</p>
          <a href="http://tasks.hotosm.org/" target="_blank" class="more-info">Learn more about the tasks</a>
          <ul class="tasks">
            <li><a href="#">Map South Sudan</a></li>
            <li><a href="#">Map Haiti</a></li>
          </ul>
        </li>
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include story-promo.html %}
  </div>
</div>
