---
layout: default
title: Humanitarian Mapping
twitterDescription: "White House Mapathon"
ogDescription: "White House Mapathon"
emailSubject: "White House Mapathon"
emailDescription: "White House Mapathon, http://mapgive.state.gov/whmapathon"
---

<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h1 class="page-title"><a href="{{ site.baseurl }}/whmapathon/">White House Mapathon</a> / {{ title }}</h1>
      </header>
    </div>
    <div class="col-md-offset-1 col-md-3">
      {% include social-media.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

      <header role="header">
        <h2 class="page-title">Description</h2>
      </header>
      <p>MapGive, a flagship initiative of the U.S. State Department’s <a href="http://www.state.gov/open/">Open Government Plan</a>, links digital diplomacy with collaborative mapping. Through shared imagery services, analysis, public engagement, data diplomacy, and technical expertise in OSM, MapGive seeks to maximize the U.S. Government's contributions to OpenStreetMap, with a focus on applications for humanitarian response and sustainable development.</p>

      <p>At the White House Mapathon, we have identified three sub-projects of shared humanitarian interest with MapGive partners (USAID, Peace Corps, the World Bank, American Red Cross), and mapping will be coordinated through the OSM Tasking Manager. The first will focus on Nepal and the response to the earthquake, of particular interest to USAID and the World Bank; the second on Peace Corps public health initiatives in Botswana; and the third in the Philippines, on disaster preparedness and sustainable development, a focus of the World Bank.</p>
 
      <header id="instructions" role="header">
        <h2 class="page-title">Instructions</h2>
      </header>

<ol>
  <li>Create an account at <a href="https://www.openstreetmap.org/user/new">www.openstreetmap.org</a> and confirm your account through your email. If you have an OpenStreetMap (OSM) account, <a href="https://www.openstreetmap.org/login">log in</a>.</li>
  <li><a href="#projects">Select a Tasking Manager project</a> from the list below, and read the accompanying description.</li>
  <li>Next, click “Instructions”. For this task, for instance, trace all buildings and roads that connect to other roads or paths. It is not necessary to trace every small footpath.</li>
  <li>Click “Start Contributing”. The Tasking Manager divides the map into small squares that make it easy for a large group of people to map the same village at the same time.</li>
  <li>Select a gray square from the grid. It will turn blue once selected. The yellow squares have already been completed, and green squares have been validated by an experienced mapper.</li>
  <li>Now click “Start Mapping”. You have now locked your square.</li>
  <li>Select the “iD Editor” from the dropdown menu next to the “Edit with” button. Click “Edit with iD Editor”. OpenStreetMap.org will open in a new tab.</li>
  <li>OpenStreetMap may prompt you to allow the application OSMTM to access your account. Click “Save Changes” to proceed.</li>
  <li>If you are familiar with editing OpenStreetMap, please proceed to trace over buildings and roads.</li>
  <li>If you are new to editing OpenStreetMap, you will be prompted to participate in a Walkthrough introduction to editing the map. Please follow the introduction carefully and then begin tracing buildings and roads. Only trace what you see in the pink square on your map.</li>
  <li>Remember to save ~every ten edits!</li>
  <li>Once you have finished editing your square, return to the Tasking Manager and click “Mark Task as Done”. Select another square to edit. If you must leave before finishing a square, click “Unlock”.</li>
</ol>

      <header id="projects" role="header">
        <h2 class="page-title">Remote Mapping Projects</h2>
      </header>

      <h3>Open Roads, Philippines</h3>
      <div>Improved Real Time Decision making of Infrastructure Investments for the Philippines by linking geospatial road network data with rich geo-tagged social data collected through mobile phones.  Imagery service provided by <a href="http://mapgive.state.gov/ittc/">Imagery to the Crowd</a>.</div>
      <br>
      <div><b>Projects: </b><a href="http://tasks.hotosm.org/project/1054">1054</a>, <a href="http://tasks.hotosm.org/project/1055">1055</a>, and <a href="http://tasks.hotosm.org/project/1056">1056</a></div>

      <h3>Peace Corps, Botswana</h3>
      <div>Imagery service provided by Bing.</div>
      <br>
      <div><b>Project: </b><a href="http://tasks.hotosm.org/project/1057">1057</a></div>

      <h3>Nepal Earthquake</h3>
      <div>Over <a href="http://osm.townsendjennings.com/nepal/">5,000 volunteer mappers</a> have improved the basemap of Nepal after the recent Earthquake.  There's still some projects set up by HOT with tiles that need to be completed.  Imagery service provided by Bing.</div>
      <br>
      <div><b>Projects: </b><a href="http://tasks.hotosm.org/project/1043">Solukhumbu</a>, <a href="http://tasks.hotosm.org/project/1048">Tanahu</a>, and <a href="http://tasks.hotosm.org/project/1047">Palpa</a></div>

      <hr></hr>

      <header role="header">
        <h2 class="page-title">Results</h2>
      </header>
 
      <a href="/whmapathon/results/">Results Page</a>
      
      </br>
    </div>

    <div class="col-md-offset-1 col-md-3" >
      {% include more-info.html %}
      {% include learn-to-map-sidebar.html %}
    </div>
  </div>
</div>
