---
layout: default
title: Plan Your Event 
twitterDescription: "Plan your own mapathon" 
ogDescription: "Interested in getting a mapathon together? MapGive's event planning resources can help get you get started. 
MapGive helps make remote mapping possible for online volunteers around the world. Learn more about
mapathons, open mapping, and how to get involved on the MapGive
website."
emailSubject: "Plan a Mapathon"
emailDescription: "Interested in getting a mapathon together? MapGive's event planning resources can help get you get started. 
MapGive helps make remote mapping possible for online volunteers around the world. Learn more about
mapathons, open mapping, and how to get involved on the MapGive
website. For some event ideas, take a look at the <a href=http://mapgive.state.gov/events/>Events</a> page."
---

<div class="col-md-12">


	<div class="row">
		<div class="col-md-8">
			<header role="header">
			  <h1 class="page-title">{{ page.title }}</h1>
			</header>
		</div>
		<div class="col-md-offset-1 col-md-3">
			{% include social-media.html %}
		</div>
	</div>


<div class="row">

<div class="col-md-8">

  <div class='limiter pad4y clearfix'>
<h3>
Planning an event? <a href="mailto:mapgive@state.gov">Let us know</a>!
<br/><br/>
Check out <a href="{{site.baseurl}}/box/">MapGive in a Box</a> for comprehensive helpful resources and event guidance. And take a look at the <a href="{{ site.baseurl }}/events/">Events</a> page for ideas.
</h3>

</div>

  	<section>
      <div class="video">

        <iframe width="640" height="360" src="https://www.youtube.com/embed/FA6QBlnUcWo" frameborder="0" allowfullscreen></iframe>

      </div>
    </section>



 </div>
  
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tracing_guides-sidebar.html %}
</div>



