
<section class="box-container ">
  <div id="box" class="show-front panels-backface-invisible">
    <figure class="front">
      <!--<div class="text-top">
        MapGive <br>in a <br>Box
      </div>-->
    </figure>
    <figure class="right">
      <div class="text-center">
        About
      </div>
    </figure>
    <figure class="back">
      <div class="text-bottom">
        Case Studies
      </div>
    </figure>
    <figure class="left">
      <div class="text-center">
        Resources
      </div>
    </figure>
    <!--<figure class="top"></figure>
    <figure class="bottom"></figure>-->
  </div>
</section>

<section id="options">

<!--
  <p id="show-buttons">
    <button class="show-front">MapGive in a Box</button>
    <button class="show-right">About</button>
    <button class="show-back2">Case Studies</button>
    <button class="show-left2">Resources</button>
  </p>

  <p>
    <button id="toggle-backface-visibility">Toggle Backface Visibility</button>
  </p>
-->

</section>

<script>
/*
    var init = function() {
    var box = document.querySelector('.cell-menubar').children[0],
        showPanelButtons = document.querySelectorAll('#show-buttons li'),
        panelClassName = 'show-front',

        onButtonClick = function( event ){
          box.removeClassName( panelClassName );
          panelClassName = event.target.className;
          box.addClassName( panelClassName );
        };

    for (var i=0, len = showPanelButtons.length; i < len; i++) {
      showPanelButtons[i].addEventListener( 'click', onButtonClick, false);
    }
    
    document.getElementById('toggle-backface-visibility').addEventListener( 'click', function(){
      box.toggleClassName('panels-backface-invisible');
    }, false);
    
  };
    
  window.addEventListener( 'DOMContentLoaded', init, false);
*/
</script>

<script src="{{ site.baseurl }}/assets/js/utils.js"></script>