/* --------------------------------------------------------
  Grids and Rules
-------------------------------------------------------- */
.cell0 { float:left; width:04.1666%; }
.cell1 { float:left; width:08.3333%; }
.cell2 { float:left; width:16.6666%; }
.cell3 { float:left; width:25.0000%; }
.cell4 { float:left; width:33.3333%; }
.cell5 { float:left; width:41.6666%; }
.cell6 { float:left; width:50.0000%; }
.cell7 { float:left; width:58.3333%; }
.cell8 { float:left; width:66.6666%; }
.cell9 { float:left; width:75.0000%; }
.cell10 { float:left; width:83.3333%; }
.cell11 { float:left; width:91.6666%; }
.cell12 { float:left; width:100.0000%; }

.cell-left { float:left; width:60%; }
.cell-right { float:left; width:40%; }

.cell-menubar { float:left; width:300px; }

.cell-main {
    padding: 5px 15px 5px 10px;
    float: left;
    width: calc(100% - 340px);
}

.footercell { float:left; width:75%; }
.right {float:right;}
.left {float:left;}

.marginL { margin-left: 08.3333%; }
.marginR { margin-right:08.3333%; }

.padAll {
    padding:20px;
    display: inline-block;
    width: 100%;
}

.padLeft {
    padding: 0px 10px 0px 10px;
    display: inline-block;
}

.padLeft ul {
    padding: 0px;
}

#main .padLeft a {
    text-decoration: none;
}

.padRight {
    width: 75%;
    padding: 5px 15px 5px 20px;
}

.padRight img {
  display: block;
  max-width:800px;
  border:1px solid #ddd;
  background: #fff;
  padding:14px;
  margin:20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

.padTB {padding:20px 0;}
.padLR {padding:0 20px;}
.hide-desktop {display:none;}

.cf:before,
.cf:after {
  content:'';
  display:table;
  }

.cf:after {
  clear:both;
  }

.btn {
border-radius: 4px;
}

.btn-primary {
  background-color: #d73f3f;
  border-color: #d73f3f;
  color: white;
}

#red-button {
  text-shadow: 3px 3px 10px #693f41;
}

.tagwords {
  font-size: 20px;
}


#subtitle {
  color: white;
  font-weight: 700;
}

.site-logo {
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.site-logo.footer-text {
  font-size: 30px;
  padding: 29px 23px;
  display: inline-block;
  font-weight: normal;
  line-height: 1.1;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #51504d;
}


  .site-tagline {
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 13px;
  }

.site-logo.white {
  color: #ffffff;
}

/*animation*/
.fadeIn {
    animation:         fadein 1s ease-out 0.4s both;
    -moz-animation:    fadein 1s ease-out 0.4s both;
    -webkit-animation: fadein 1s ease-out 0.4s both;
    -o-animation:      fadein 1s ease-out 0.4s both;
}
@keyframes fadein         {
  0% { background-position: 50% bottom; opacity: 0;}
  20% { opacity: 1;}
  100% {background-position: 50% top;}
  }
@-moz-keyframes fadein    {
  0% { background-position: 50% bottom; opacity: 0;}
  20% { opacity: 1;}
  100% {background-position: 50% top;}
  }
@-webkit-keyframes fadein {
  0% { background-position: 50% bottom; opacity: 0;}
  20% { opacity: 1;}
  100% {background-position: 50% top;}
  }
@-o-keyframes fadein      {
  0% { background-position: 50% bottom; opacity: 0;}
  20% { opacity: 1;}
  100% {background-position: 50% top;}
  }


doc li {
    margin-left: 30px;
}
    

/* --------------------------------------------------------
  Colors
-------------------------------------------------------- */
.fillG {background-color:#acbfbd;}
.fillW {background-color:#fff;}


small {
  font-size:12px;
  line-height:16px;
}

/* code */
pre {
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
  font-family: monospace;
}

/* footnotes in the google docs */
blockquote p{
  border: 2px dashed #f0f0f0;
  padding: 0 32px 20px 32px;
  font: normal 12px/32px 'Source Sans Pro','OpenSansRegular','Helvetica Neue', sans-serif !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

blockquote p:before {
  content:'NOTE:';
  display:block;
  margin:10px 0;
  font-weight:700;
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

/* --------------------------------------------------------
  Layout
-------------------------------------------------------- */
html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.language-switcher {
  padding:6px 20px;
  }

  .language-switcher a.active {
    color: #328cac;
    text-decoration: none;
    cursor: default;
    }

#header {
  padding:20px 0px;
  background: #fff url(./../assets/img/dot.png) repeat-x bottom;
  }
.banner, .banner-mobile {
    position:absolute;
    right:0;
    background: transparent url(./../assets/img/sprite.png)  -324px 0px;
    width: 60px;
    height: 76px;
    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  }
  .banner span {
    display:none;
    color: #328cac;
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    padding:2px 18px 0 60px;
  }
  .banner span.en,.banner span.jp {padding-top:14px;}
  .banner.active {
    width:188px;
  }
  .banner span.active {
    display:block;
  }
.ourguides span{
  font-weight:700;
}

#ads a {
    text-decoration: none;
}

#ads a, .case-ad a {
  display:block;
  color:#f9f9f9;
  padding:10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform:capitalize;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  font-size: 20px;
}
#ads a span:first-child {
  display:block;
  font-weight:700;
}
#ads a:hover {color:#ffffff;}

#ads .ad1 a {height:180px; margin-right:20px; border-color: #9bcaff; border-width: 2px; border-style: solid; background-image: url("./../assets/img/banner.jpg"); font-size: 36px;/*color: #9bcaff;*/ font-weight: bold; text-shadow: 3px 3px 10px #693f41;}

#ads .ad2 a {height:80px; background:#667766; margin-bottom:20px;}
#ads .ad3 a {height:80px; background:#d73f3f;}
.case-ad { margin-bottom: 20px; float: right;}

.case-ad a { 
    height: 415px; 
    border-width: 2px; 
    border-style: solid; 
    font-weight: bold; 
    font-size: 24px;
    background-color: black;
}

#main .case-ad a {
    text-decoration: none;
}

.case-ad img { 
    background: transparent; 
    padding: 0px;
    border: 2.5px solid white;
    margin-top: 10px; 
}


  #ads .ad1 a:hover { opacity:0.8;}
  #ads .ad2 a:hover { opacity:0.8}
  #ads .ad3 a:hover { opacity:0.8}
  #ads .ad1 span.door {
    float: right;
    margin-right: -20px;
    margin-top: -87px;
    height:204px;
    width:100px;
    background:transparent url(./../assets/img/sprite-box.png);
    background-position:-280px -160px;
  }
    #ads .ad1 span.door:hover {
      background-position:-270px -193px;
    }
.icon {
  background:url(./../assets/img/sprite-box.png) no-repeat;
  width:16px;
  height:20px;
  margin-right:20px;
  }


.site-logo.white .m-logo {
  background-position: -1.19444444444444em -1.13888888888889em; /* -43/36 -41/36 */
  background-size: 4.05555555555556em 2.30555555555556em; /* 146/36 83/36 */
  width: 0.80555555555556em; /* 29/36 */
  height: 1.19444444444444em; /* 43.5/36 */
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 0.16666666666667em; /* 3/36 */
}


/* overriding default jquery ui css for autocomplete */
.ui-corner-all {
  -moz-border-radius:   0px !important;
  -webkit-border-radius:0px !important;
  -khtml-border-radius: 0px !important;
  border-radius:        0px !important;
  }
.ui-menu {
  border:none !important;
  }
.ui-menu-item {
  border:1px solid #f0f0f0 !important;
  font-family:'Source Sans Pro',sans-serif;
  font-size:14px;
  cursor:pointer;
  }
  .ui-menu-item a {
    display:block !important;
    padding:4px 14px !important;
  }
.ui-state-default, .ui-state-hover, .ui-state-focus {
  border:1px solid #fff !important;
  background:#328cac !important;
  color:#fff !important;
  }

/* faq */
.faqbox h4 {
  margin-bottom:52px;
  }
.faq li {
  margin:7px 0;
  padding:1px 0 0 0;
  }
  .faq li a:before {
    content:'';
    float:left;
    margin-top: 8px;
    width:16px;
    height:20px;
    background:url(./../assets/img/sprite-box.png) 2px -165px no-repeat;
    overflow:hidden;
    }
  .faq li a:hover:before {background-position:2px -185px;}

/* doc nav */
.doc-nav {
  /*position:absolute;*/
  padding-top: 5px;
  position: fixed;
  margin-left: -320px;
}
.doc-nav.fixed {
  position:fixed;
  top: 60px;
}
.doc-nav.bottom {
  positon:absolute;
  bottom: 200px;
}
.doc-nav ul li a {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;	/* Opera */
  -ms-text-overflow: ellipsis;	/* IE8 */
  -moz-binding: url('ellipsis.xml#ellipsis');    /* Firefox */ /* see details in http://sharonminsuk.com/blog/2010/07/22/css3-text-truncation-and-ellipses-even-in-firefox-and-without-the-styling-constraints/*/
}
.doc-nav ul li:first-child a{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:     5px;
  -moz-border-radius-topright:    5px;
  border-top-left-radius:         5px;
  border-top-right-radius:        5px;
}
.doc-nav ul li:last-child a{
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius:  5px;
  -moz-border-radius-bottomright:     5px;
  -moz-border-radius-bottomleft:      5px;
  border-bottom-right-radius:         5px;
  border-bottom-left-radius:          5px;
}
.doc-main {
  margin-left: 300px;
  min-height: 540px;
  position: relative;
}

.doc-main img {
  max-width: 1000px;
}

.doc .title{
  display:block;
  padding:10px;
  background:#bcbcbc;
  }
  .doc .title.active {
    background:#328cac;
    color:#fff;
    }
    .doc .title span:before {
      content:'▸';
      margin-right:8px;
    }
  .doc .title.cover,
  .doc .title.cover:hover,
  .doc .title.cover.active {
    font-size:12px;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
    /*background: #fff;*/
    padding:8px;
    color:#404040;
    border-top: 4px solid   #f0f0f0;
    border-left: 4px solid  #f0f0f0;
    border-right: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
}
    .doc .cover span:before {
      content:'';
    }


.doc .title.header,
  .doc .title.header:hover,
  .doc .title.header.active {
    font-size:12px;
    text-transform:uppercase;
    font-weight:700;
    text-align:center;
    background: #fff;
    padding:8px;
    color:#404040;
    border-top: 4px solid   #f0f0f0;
    border-left: 4px solid  #f0f0f0;
    border-right: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
}
    .doc .header span:before {
      content:'';
    }



/* Ideas for "other guide" navigation menu */
  .doc .title.other {
    background: #efe;
  }

  .doc .title.cover.other,
  .doc .title.cover.other:hover,
  .doc .title.cover.other.active {
    background: #dfd;
}

.searchbox {
  height:40px;
  border:4px solid #acbfbd;
  width: 100%;
  }
  .searchbox input {
    border:none;
    padding:5px 0px 4px 20px;
    font-size:16px;
    font-family:'Source Sans Pro',sans-serif;
    background-color: #ffffff;
  }

  .logo-search {
    float:left;
    margin-left:3px;
    margin-right: 20px;
    width: 30px;
    height: 28px;
    display: block;
    /*background-position needs to appear after background*/
    background: url(./../assets/img/sprite-box.png) no-repeat;
    background-position:-152px -150px;
  }

  input.default-value {
    color:#ccc !important;
    font-style: italic;
  }
.searchbox-default {
  padding-right:08.3333%;
  float:right;
}
.searchbox-default input {
  border:none;
  margin-top:6px;
  background-color: #ffffff;
}

/* training and feedback boxes*/
.getstarted, .feedback {
  padding-top:40px;
  display:block;
}
.feedback {
  background: #fff url(./../assets/img/dot.png) repeat-x top;
}
  .getstarted span a {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 170px;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    background:#328cac;
    }
    .getstarted span a:hover {color:#fff;}
  .feedback span {display:block;font-weight:700;}
  .feedback a {color: #328cac;}
    .getstarted span:before, .getstarted span:after, .feedback span:before {
      content:'';
      display:block;
      height: 65px;
      width: 70px;
      float:left;
      background: url(./../assets/img/sprite-box.png);
    }
    .getstarted span:before {background-position: -350px -95px;margin-top:-10px;}
    .getstarted span:after {background-position: -412px -95px; float:right;margin-top:-52px;}
    .feedback span:before {background-position:-508px -100px; margin-right: 32px;}


/***** Main Nav End *****/

.shadowed {
  box-shadow: 1px 1px 7px -3px #888;
}



/*Markup free clearing
Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack*/
.clearfix:after {
  content:'';
  display:block;  
  height:0;
  clear:both;
  visibility:hidden;
  }
* html .clearfix { height:1%; }
*:first-child + html .clearfix { min-height:1%; }

 :focus {
    outline: 0;
}


/*css for 3d box */

.box-container {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 30px auto 10px;
  border: 0px solid #CCC;
  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
       -o-perspective: 1200px;
          perspective: 1200px;
}

#box {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#box figure {
  display: block;
  position: absolute;
  border: 2px solid black;
  line-height: 50px;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#box figure .text-top{
  padding-top: 40px;
}

#box figure .text-center{
  padding-top: 110px;
}

#box figure .text-bottom{
  padding-top: 225px;
}

#box.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#box .front,
#box .back {
  width: 296px;
  height: 296px;
}

#box .right,
#box .left {
  width: 296px;
  height: 296px;
  left: 0px;
}

#box .top,
#box .bottom {
  width: 296px;
  height: 296px;
  top: 50px;
  line-height: 96px;
}

#positioner {
    width:auto;
    overflow-x:auto;

}

/*
#box .front  { background: hsla( 000, 100%, 50%, 0.7 ); }
*/
#box .front  { 
  background-image: url("./../assets/img/banner.jpg"); 
  background-size: cover;
}
#box .back   { 
  background-image: url("./../assets/img/ramallah.jpg"); 
  background-size: cover;
}

/*#box .right  { background: #d73f3f; }*/

#box .right   { 
  background-image: url("./../assets/img/mapgive-logo-blank.png"); 
  background-size: cover;
}

/*#box .left   { background: #9bb9ff; }*/

#box .left   { 
  background-image: url("./../assets/img/mapgive_stickers.png"); 
  background-size: cover;
}

#box .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#box .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

#box .front  {
  -webkit-transform: translateZ( 150px );
     -moz-transform: translateZ( 150px );
       -o-transform: translateZ( 150px );
          transform: translateZ( 150px );
}
#box .back   {
  -webkit-transform: rotateY( 180deg ) translateZ(  150px );
     -moz-transform: rotateY( 180deg ) translateZ(  150px );
       -o-transform: rotateY( 180deg ) translateZ(  150px );
          transform: rotateY( 180deg ) translateZ(  150px );
}
#box .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 150px );
     -moz-transform: rotateY(   90deg ) translateZ( 150px );
       -o-transform: rotateY(   90deg ) translateZ( 150px );
          transform: rotateY(   90deg ) translateZ( 150px );
}
#box .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 150px );
     -moz-transform: rotateY(  -90deg ) translateZ( 150px );
       -o-transform: rotateY(  -90deg ) translateZ( 150px );
          transform: rotateY(  -90deg ) translateZ( 150px );
}
#box .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 200px );
     -moz-transform: rotateX(   90deg ) translateZ( 200px );
       -o-transform: rotateX(   90deg ) translateZ( 200px );
          transform: rotateX(   90deg ) translateZ( 200px );
}
#box .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 100px );
     -moz-transform: rotateX(  -90deg ) translateZ( 100px );
       -o-transform: rotateX(  -90deg ) translateZ( 100px );
          transform: rotateX(  -90deg ) translateZ( 100px );
}

#box.show-front {
  -webkit-transform: translateZ(  -50px );
     -moz-transform: translateZ(  -50px );
       -o-transform: translateZ(  -50px );
          transform: translateZ(  -50px );
}
#box.show-back {
  -webkit-transform: translateZ( -50px ) rotateX( -180deg );
     -moz-transform: translateZ( -50px ) rotateX( -180deg );
       -o-transform: translateZ( -50px ) rotateX( -180deg );
          transform: translateZ( -50px ) rotateX( -180deg );
}
#box.show-right {
  -webkit-transform: translateZ( -150px ) rotateY(  -90deg );
     -moz-transform: translateZ( -150px ) rotateY(  -90deg );
       -o-transform: translateZ( -150px ) rotateY(  -90deg );
          transform: translateZ( -150px ) rotateY(  -90deg );
}

#box.show-back2 {
  -webkit-transform: translateZ( -150px ) rotateY(  -180deg );
     -moz-transform: translateZ( -150px ) rotateY(  -180deg );
       -o-transform: translateZ( -150px ) rotateY(  -180deg );
          transform: translateZ( -150px ) rotateY(  -180deg );
}

#box.show-left {
  -webkit-transform: translateZ( -150px ) rotateY(   90deg );
     -moz-transform: translateZ( -150px ) rotateY(   90deg );
       -o-transform: translateZ( -150px ) rotateY(   90deg );
          transform: translateZ( -150px ) rotateY(   90deg );
}

#box.show-left2 {
  -webkit-transform: translateZ( -150px ) rotateY(  -270deg );
     -moz-transform: translateZ( -150px ) rotateY(  -270deg );
       -o-transform: translateZ( -150px ) rotateY(  -270deg );
          transform: translateZ( -150px ) rotateY(  -270deg );
}
#box.show-top {
  -webkit-transform: translateZ( -100px ) rotateX(  -90deg );
     -moz-transform: translateZ( -100px ) rotateX(  -90deg );
       -o-transform: translateZ( -100px ) rotateX(  -90deg );
          transform: translateZ( -100px ) rotateX(  -90deg );
}
#box.show-bottom {
  -webkit-transform: translateZ( -100px ) rotateX(   90deg );
     -moz-transform: translateZ( -100px ) rotateX(   90deg );
       -o-transform: translateZ( -100px ) rotateX(   90deg );
          transform: translateZ( -100px ) rotateX(   90deg );
}


