<div id="dynamic tag" class="block">
  <h2>Nodes</h2>
  <svg id="node_tags_date_chart" class="date-chart"></svg>
  <svg id="node_values_bar_chart"></svg>
  <div id="node_tags_date_slider" style="width:90%; margin: 20 auto;"></div>

  <h2>Ways</h2>
  <svg id="way_tags_date_chart" class="date-chart"></svg>
  <svg id="way_values_bar_chart"></svg>
  <div id="way_tags_date_slider" style="width:90%; margin: 20 auto;"></div>


</div>

<script type="text/javascript" src= "{{baseurl}}/templates/_assets/js/tags.js"></script>
