---
layout: default
title: Instructions
---

<h1>{{ page.title }}</h1>
<div class="row">
  <div class="col-md-8">
    <h2>How to Use OpenStreetMap</h2>
    <ul class="nav nav-tabs" id="osmTab">
      <li><a href="#osm-video">OSM Video Instructions</a></li>
      <li><a href="#osm-written">OSM Written Instructions</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="osm-video">
        <div class="video-container">
          <figure>
            <iframe width="560" height="315" src="//www.youtube.com/embed/tryHJ0OklN4" frameborder="0" allowfullscreen></iframe>
            <figcaption>
              <p class="caption"><a href="#">Transcript</a></p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="tab-pane" id="osm-written">
        <p>Lorem ipsum dolor sit amet, et zril debitis intellegam qui. An nisl oblique voluptatum usu. Elitr apeirian necessitatibus mei id, an adipiscing efficiendi cum. Vix enim minim delenit eu, nihil utamur id eam, mei diam sonet persius et. Ad nam convenire erroribus consequuntur.</p>
        <p>Te pri illum ridens conceptam, vix persius diceret in. Ius at virtute adolescens, vis quidam persius an. Mel et quaeque scribentur omittantur, in adipiscing necessitatibus vis. Consul oblique invidunt quo in, mea ne eros dicunt feugait. Sed quod dicta ei, has perfecto persecuti ad. Usu ridens persecuti ad, per nibh consul posidonium ad. Per tempor cotidieque suscipiantur in.</p>
        <p>Nec platonem consulatu disputando ex, ad vis maiorum civibus tractatos, vidit commune delicata ex vel. Quis recusabo ea mea, sed atomorum urbanitas ea, est facete molestiae intellegam ne. Homero essent vel et, per falli ludus intellegat at. Ex quo saperet expetenda adolescens, appetere expetenda pri ad. Agam mandamus mel eu.</p>
        <p>Nibh probatus urbanitas id eum, eripuit aliquam adversarium at pro, sit no amet forensibus. Ubique fabellas disputationi vim ut, quod adipisci scripserit est at, te nec tation legimus euripidis. Ius suscipit singulis atomorum ea. Omnium deserunt te mel, te ullum postulant sed, possim animal vivendum vix ne. Te nihil munere integre nec. Sint soleat everti ut pro, cibo eruditi persequeris ne qui.</p>
        <p>Prompta tincidunt vis te, solet impetus officiis eu eos. Saepe appetere antiopam qui at, at omnium facilisi vel, cu mel choro tation. Nec luptatum euripidis voluptatibus ex, no offendit nominati delicata sea, mei ut dicant corpora. Vix fugit nullam te, unum concludaturque ut sea. Has te voluptua lobortis postulant, ludus ubique consectetuer mel ad. An ius singulis qualisque liberavisse.</p>
        <p>Lorem ipsum dolor sit amet, et zril debitis intellegam qui. An nisl oblique voluptatum usu. Elitr apeirian necessitatibus mei id, an adipiscing efficiendi cum. Vix enim minim delenit eu, nihil utamur id eam, mei diam sonet persius et. Ad nam convenire erroribus consequuntur.</p>
        <p>Te pri illum ridens conceptam, vix persius diceret in. Ius at virtute adolescens, vis quidam persius an. Mel et quaeque scribentur omittantur, in adipiscing necessitatibus vis. Consul oblique invidunt quo in, mea ne eros dicunt feugait. Sed quod dicta ei, has perfecto persecuti ad. Usu ridens persecuti ad, per nibh consul posidonium ad. Per tempor cotidieque suscipiantur in.</p>
        <p>Nec platonem consulatu disputando ex, ad vis maiorum civibus tractatos, vidit commune delicata ex vel. Quis recusabo ea mea, sed atomorum urbanitas ea, est facete molestiae intellegam ne. Homero essent vel et, per falli ludus intellegat at. Ex quo saperet expetenda adolescens, appetere expetenda pri ad. Agam mandamus mel eu.</p>
        <p>Nibh probatus urbanitas id eum, eripuit aliquam adversarium at pro, sit no amet forensibus. Ubique fabellas disputationi vim ut, quod adipisci scripserit est at, te nec tation legimus euripidis. Ius suscipit singulis atomorum ea. Omnium deserunt te mel, te ullum postulant sed, possim animal vivendum vix ne. Te nihil munere integre nec. Sint soleat everti ut pro, cibo eruditi persequeris ne qui.</p>
        <p>Prompta tincidunt vis te, solet impetus officiis eu eos. Saepe appetere antiopam qui at, at omnium facilisi vel, cu mel choro tation. Nec luptatum euripidis voluptatibus ex, no offendit nominati delicata sea, mei ut dicant corpora. Vix fugit nullam te, unum concludaturque ut sea. Has te voluptua lobortis postulant, ludus ubique consectetuer mel ad. An ius singulis qualisque liberavisse.</p>
      </div>
    </div>
    <h2>How to Complete a Task</h2>
    <ul class="nav nav-tabs" id="hotTab">
      <li><a href="#hot-video">HOT Video Instructions</a></li>
      <li><a href="#hot-written">OSM Written Instructions</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="hot-video">
        <div class="video-container">
          <figure>
            <iframe width="560" height="315" src="//www.youtube.com/embed/tryHJ0OklN4" frameborder="0" allowfullscreen></iframe>
            <figcaption>
              <p class="caption"><a href="#">Transcript</a></p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="tab-pane" id="hot-written">
        <p>Lorem ipsum dolor sit amet, et zril debitis intellegam qui. An nisl oblique voluptatum usu. Elitr apeirian necessitatibus mei id, an adipiscing efficiendi cum. Vix enim minim delenit eu, nihil utamur id eam, mei diam sonet persius et. Ad nam convenire erroribus consequuntur.</p>
        <p>Te pri illum ridens conceptam, vix persius diceret in. Ius at virtute adolescens, vis quidam persius an. Mel et quaeque scribentur omittantur, in adipiscing necessitatibus vis. Consul oblique invidunt quo in, mea ne eros dicunt feugait. Sed quod dicta ei, has perfecto persecuti ad. Usu ridens persecuti ad, per nibh consul posidonium ad. Per tempor cotidieque suscipiantur in.</p>
        <p>Nec platonem consulatu disputando ex, ad vis maiorum civibus tractatos, vidit commune delicata ex vel. Quis recusabo ea mea, sed atomorum urbanitas ea, est facete molestiae intellegam ne. Homero essent vel et, per falli ludus intellegat at. Ex quo saperet expetenda adolescens, appetere expetenda pri ad. Agam mandamus mel eu.</p>
        <p>Nibh probatus urbanitas id eum, eripuit aliquam adversarium at pro, sit no amet forensibus. Ubique fabellas disputationi vim ut, quod adipisci scripserit est at, te nec tation legimus euripidis. Ius suscipit singulis atomorum ea. Omnium deserunt te mel, te ullum postulant sed, possim animal vivendum vix ne. Te nihil munere integre nec. Sint soleat everti ut pro, cibo eruditi persequeris ne qui.</p>
        <p>Prompta tincidunt vis te, solet impetus officiis eu eos. Saepe appetere antiopam qui at, at omnium facilisi vel, cu mel choro tation. Nec luptatum euripidis voluptatibus ex, no offendit nominati delicata sea, mei ut dicant corpora. Vix fugit nullam te, unum concludaturque ut sea. Has te voluptua lobortis postulant, ludus ubique consectetuer mel ad. An ius singulis qualisque liberavisse.</p>
      </div>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include story-promo.html %}
  </div>
</div>
