---
layout: default
title: White House Mapathon
twitterDescription: "White House Mapathon"
ogDescription: "White House Mapathon"
emailSubject: "White House Mapathon"
emailDescription: "White House Mapathon, http://mapgive.state.gov/whmapathon"
---

<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h1 class="page-title">{{ page.title }}</h1>
      </header>
    </div>
    <div class="col-md-offset-1 col-md-3">
      {% include social-media.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h2 class="page-title">HashTag</h2>
      </header>

      Use #WHMapathon in your OSM commit messages and on social media.

      <header role="header">
        <h2 class="page-title">Mapathon Projects</h2>
      </header>

      <h3>Mapathon Power Utility Areas</h3>
      <p>The Department of Energy's Office of Electricity Delivery and Energy Reliability is creating a national geospatial database of power company service areas and pointers to public outage information (eg, Twitter, web sites, and via 800 numbers). Data about power company service areas and their announcements about outages are critical for the effective coordination of resources after disasters, and also for building community and neighborhood resilience.</p>
      <p>Participants will research public outage information state by state, and populate a lookup table so that disaster-impacted residents, tourists, first responders and relief volunteers can easily get to the information they need on scope and estimated restore times for power outages. This project will benefit from participation of private and public sector folks who need this data for their work, and of third party app developers such as Red Cross and The Weather Channel who will incorporate this data into the information services they offer their users.</p>
      <br>
      <div><a href="{{ site.baseurl }}/whmapathon/power-utility-areas/Mapathon%20Power%20Utility%20Areas%20Workflow%20and%20Instructions.pdf"><b>Instructions</b></a> | <a href="http://en.openei.org/apps/wh-mapathon-2015/"></b>Results</b></a></div>

      <h3>Every Kid in a Park</h3>
      <p>In the lead up to the <a href="http://www.nationalparks.org/our-work/celebrating-100-years-service">100th birthday</a> of the National Park Service in 2016, the President’s <a href="http://www.nationalparks.org/ook/every-kid-in-a-park">Every Kid in a Park</a> (EKIP) initiative is a call to action to get all children to visit and enjoy America’s unparalleled outdoors.</p>
      <p>This dataset documents sites where educational activities related to the Every Kid in a Park initiative are available, as collected by the various agencies represented under FICOR.   Through this exercise we’re going to improve the location and attributes for this information to provide better planning resources and contextual information for the “find your park” aspect of the initiative.</p>
      <br>
      <div><a href="/whmapathon/parks"><b>Instructions</b></a> | <a href="/whmapathon/results"></b>Results</b></a></div>

      <h3>Humanitarian Mapping</h3>
      <p>MapGive, a flagship initiative of the U.S. State Department’s <a href="http://www.state.gov/open/">Open Government Plan</a>, links digital diplomacy with collaborative mapping. Through shared imagery services, analysis, public engagement, data diplomacy, and technical expertise in OSM, MapGive seeks to maximize the U.S. Government's contributions to OpenStreetMap, with a focus on applications for humanitarian response and sustainable development.</p>

      <p>At the White House Mapathon, we have identified three sub-projects of shared humanitarian interest with MapGive partners (USAID, Peace Corps, the World Bank, American Red Cross), and mapping will be coordinated through the OSM Tasking Manager. The first will focus on Nepal and the response to the earthquake, of particular interest to USAID and the World Bank; the second on Peace Corps public health initiatives in Botswana; and the third in the Philippines, on disaster preparedness and sustainable development, a focus of the World Bank.</p>
      <br>
      <div><a href="/whmapathon/humanitarian-mapping"><b>Instructions</b></a> | <a href="/whmapathon/results"></b>Results</b></a></div>
      </br>
    </div>

    <div class="col-md-offset-1 col-md-3" >
      {% include more-info.html %}
      {% include learn-to-map-sidebar.html %}
    </div>
  </div>
</div>
