<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/stories/reducing-risks.html">Open maps&#46;&#46;&#46;help us better understand our world and allow us to build more resilient communities&#44; together.</a>&rdquo;</blockquote>
    </div>
    <a href="/stories/reducing-risks.html" class="image"><img src="{{ site.baseurl }}/assets/img/alyssa-wright.jpg" alt="Alyssa works with a colleague in Katmandu, Nepal." class="img-responsive" /></a>
    <p class="attribution"><a href="/stories/reducing-risks.html">&ndash;Alyssa Wright, <em>U.S.A.</em></a></p>
  </div>
</aside>
