<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/stories/reducing-risks.html">[We] create open maps that help us better understand our world.</a>&rdquo;</blockquote>
    </div>
    <a href="/stories/reducing-risks.html" class="image"><img src="/assets/img/alyssa-wright.jpg" alt="Alyssa works with a colleague in Katmandu, Nepal." class="img-responsive" /></a>
    <p class="attribution"><a href="/stories/reducing-risks.html">&ndash;Alyssa Wright, <em>Nepal</em></a></p>
  </div>
</aside>
