<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="{{ site.baseurl }}/box/">MapGive is a tool for Digital Diplomacy. Mapping, in the open commons, is an accessible and purposeful way to engage.</a>&rdquo;</blockquote>
    </div>
    <a href="{{ site.baseurl }}/box/" class="image"><img src="../assets/img/box_graphic_small.png" alt="Alyssa works with a colleague in Katmandu, Nepal." class="img-responsive" /></a>
    <p class="attribution">&ndash;Mikel Maron, <em>Co-founder of Humanitarian OpenStreetMap Team</em></p>
  </div>
</aside>
