<div class="container">
  <div class="row">
    <div class="col-md-12 footer-title">
      <h2 class="site-logo">Map<span class="logo"></span>Give</h2>
      <div class="footer-flag-seal"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <nav role="navigation">
        <ul class="footer-nav">
          <li class="first"><a href="{{ site.baseurl }}/why-map/">Why Map?</a>
            <ul>
              <li class="first"><a href="{{ site.baseurl }}/commonly-asked-questions/">Commonly Asked Questions</a></li>
              <li><a href="{{ site.baseurl }}/stories/">Stories</a></li>
            </ul></li>
          <li><a href="{{ site.baseurl }}/about-open-mapping/">About Open Mapping</a></li>
          <li><a href="{{ site.baseurl }}/learn-to-map/">Learn to Map</a></li>
          <li class="last"><a href="mailto:mapgive@state.gov">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4 mission">
      <h4>Our Mission</h4>
      <div class="mission-flag-seal"></div>
      <p>MapGive, an initiative of the U.S. Department of State’s Humanitarian Information Unit, makes it easy for new volunteers to learn to map and get involved in online tasks.</p>
      <div class="row legal">
        <div class="col-sm-12">
          <a href="http://www.state.gov/m/a/ips/">FOIA</a>
          <a href="http://www.state.gov/misc/415.htm">Privacy Notice</a>
          <a href="http://www.state.gov/misc/87529.htm#copyright">Copyright Information</a>
          <ul class="social">
            <li class="twitter">
              <h6 class="sr-only">Share this page on Twitter</h6>
              <a href="https://twitter.com/mapgive" target="_blank" title="@mapgive"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
