<div class="container">
  <div class="row">
    <div class="col-md-12 footer-title">
      <h2>{{ site.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <nav role="navigation">
        <ul class="footer-nav">
          <li class="first"><a href="/the-cause/">The Cause</a>
            <ul>
              <li class="first"><a href="/commonly-asked-questions/">Commonly Asked Questions</a></li>
              <li><a href="/stories/">Stories</a></li>
            </ul></li>
          <li><a href="/about-open-mapping/">About Open Mapping</a></li>
          <li><a href="/start-mapping/">Start Mapping</a></li>
          <li class="last"><a href="mailto:ittc@state.gov">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4 mission">
      <h4>Our Mission</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      <div class="row legal">
        <div class="col-sm-12">
          <a href="http://www.state.gov/m/a/ips/">FOIA</a>
          <a href="http://www.state.gov/misc/415.htm">Privacy Notice</a>
          <a href="http://www.state.gov/misc/87529.htm#copyright">Copyright Information</a>
        </div>
      </div>
    </div>
  </div>
</div>
