<div class="container">
  <div class="row">
    <nav role="navigation">
      <div class="col-sm-2">
        <ul>
          <li class="top"><a href="/the-cause/">The Cause</a></li>
          <li><a href="/faq/">Commonly Asked Questions</a></li>
          <li><a href="/stories/">Stories</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul>
          <li class="top"><a href="/about-open-mapping/">About Open Mapping</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul>
          <li class="top"><a href="/get-started/">Start mapping</a></li>
          <li><a href="/get-started/instructions/">Instructions</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul>
          <li class="top"><a href="mailto:ittc@state.gov">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <div class="col-sm-4">
      <h4>Our Mission</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
  </div>
</div>
