<dt id="title1" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0"><span class="faq">How does imagery become a map?</span></dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>MapGive utilizes satellite imagery when supporting OpenStreetMap mapping projects for humanitarian and development needs. High resolution imagery is key to mapping remotely in OpenStreetMap so that OSM users, like yourself, can see a clear picture of what's on the ground when you are editing in OpenStreetMap. To learn more about how to use satellite imagery to trace edits into OpenStreetMap, check out our how-to videos on our <a href="{{ site.baseurl }}/learn-to-map/" target="_blank">Learn to Map page</a>.</p>
      </dd>

<dt id="title2" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0"><span class="faq">Why not use the imagery that's already there?</span></dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>As you may have noticed, there is already imagery available throughout OpenStreetMap. Since November 2010, Bing has allowed OpenStreetMap editors to trace from their aerial imagery for the purpose of contributing content to OpenStreetMap. For many mapping projects, the available imagery is often sufficient. Sometimes the area of interest is located in a gap where there is no good-quality imagery coverage. At other times, the available imagery may be outdated and newer imagery is needed to respond to a current event. This is when MapGive can help. </p>
      </dd>

<dt id="title3" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0"><span class="faq">How did ITTC get started?</span></dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">

            <p>
                Inspired by the success of the OSM mapping effort after the 2010 Haiti earthquake, the Humanitarian Information Unit (HIU), a division within the Office of the Geographer and Global Issues at the U.S. Department of State, sought a way to support the creation of OpenStreetMap data through the provision of processed imagery services based on USG-licensed high-resolution satellite imagery. Imagery to the Crowd resulted from technical and policy discussions that were held with numerous partners over several months. 
            </p>
            <p>
                As a proof of concept, in May 2012 the HIU conducted the <a href="{{site.baseurl}}/ittc/HIU_HoA_ImageryToTheCrowd_10June2013.pdf">Horn of Africa Mapping Experiment</a> and posted imagery for the ten refugee camps in the the Dollo Ado (Ethiopia) and Dadaab (Kenya) complexes. In 48 hours mappers from around the world traced the imagery and produced highly detailed map data of the camps. Later that same year Josh Campbell of the HIU gave an <a href="https://www.youtube.com/watch?v=zVfDhya2FQ8">Ignite Talk at ICCM 2012</a> officially launching IttC.
            </p>

      </dd>

<!--temporarily remove
<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0">How can I get imagery from MapGive?</dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>If you have a humanitarian-based mapping project in need of up-to-date imagery, e-mail us at  <a href="mailto:mapgive@state.gov?Subject=IttC%20request" target="_top">mapgive@state.gov</a> and we can start the conversation! Be sure to include: The purpose, geographic extent, and timeframe of your imagery request.</p>
<p>
Please note: MapGive's ability to facilitiate Imagery to the Crowd services is subject to Departmental determination that the requested imagery meets certain criteria - particularly, a humanitarian need where mapping data is lacking. Those accessing imagery or imagery services must also accept the end user terms of the <a href="https://hiu.state.gov/Documents/NextView/USG_NextView_ImageryLicense.txt" target="_blank">NextView License Agreement</a>. Our ability to facilitate commercial imagery requests is also subject to to staffing and resource constraints.
</p>
      </dd>
-->

