<aside role="complimentary">
  <div class="story-promo shadowed">
    <div>
    <blockquote>
      <a href="https://www.youtube.com/watch?v=zVfDhya2FQ8">Josh Campbell's Ignite Talk at ICCM 2012</a>
      <br>
      <br>
      <a href="https://hiu.state.gov/ittc/HIU_HoA_ImageryToTheCrowd_10June2013.pdf">Horn of Africa Mapping Experiment</a>
    </blockquote>
    </div>
   <img src="../assets/img/bokolmanyo.png" alt="Buildings being traced in OpenStreetMap." class="img-responsive" />
    <p class="attribution"></p>
  </div>
</aside>
