
    <dl class="js-accordion accordion" role="tablist" aria-multiselectable="true">
<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0">How does imagery become a map?</dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>Orthorectification takes into account the terrain of the landscape and the geometry of the image sensor to geometrically correct the pixels in the image. You can then use the result as a map, take measurements, and digitize from it.</p>

So far MapGive has been using satellite imagery when supporting mapping project in OpenStreetMap. There are several different satellites where the imagery can come from, and they have actually been orthorectified before we download them. The current orthorectification is not perfect, and can sometimes be off by several meters from the true ground position. </p>
      </dd>

<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0">Why not use the imagery that's already there?</dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>Since November 2010, Bing has granted the right to trace from their aerial imagery for the purpose of contributing content to OpenStreetMap. This is often sufficient to use for many humanitarian mapping projects. Sometimes the area of interest is located in a gap where there is no high-resolution coverage. Other time the imagery is too old, and newer imagery is needed to respond to a current event. This is when MapGive can help. </p>
      </dd>

<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0">Why not just publish all of the imagery?</dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>MapGive Imagery to the Crowd services get initiated by an external partner and must pass a clearance request to make sure they do not conflict with U.S. governement policy. Finally we comply with all the terms in the <a href="https://hiu.state.gov/Documents/NextView/USG_NextView_ImageryLicense.txt" target="_blank">NextView License Agreement</a></p>
      </dd>

<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0">How can I get imagery from MapGive?</dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>Have a Humanitarian-based mapping project in need of up-to-date imagery? e-mail us at <a href="mailto:mapgive@state.gov?Subject=IttC%20request" target="_top">mapgive@state.gov</a> and we can start the conversation! </p>
      </dd>
</dl>


