<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0"><span class="faq">Event Checklist</span></dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>MapGive utilizes satellite imagery when supporting OpenStreetMap mapping projects for humanitarian and development needs. High resolution imagery is key to mapping remotely in OpenStreetMap so that OSM users, like yourself, can see a clear picture of what's on the ground when you are editing in OpenStreetMap. To learn more about how to use satellite imagery to trace edits into OpenStreetMap, check out our how-to videos on our <a href="{{ site.baseurl }}/learn-to-map/" target="_blank">Learn to Map page</a>.</p>
      </dd>

<!--
<dt id="title7" role="tab" aria-controls="panel7" aria-selected="true" aria-expanded="true" tabindex="0"><span class="faq">Why not use the imagery that's already there?</span></dt>
      <dd id="panel7" role="tabpanel" aria-labelledby="title7" aria-hidden="false">
        <p>As you may have noticed, there is already imagery available throughout OpenStreetMap. Since November 2010, Bing has allowed OpenStreetMap editors to trace from their aerial imagery for the purpose of contributing content to OpenStreetMap. For many mapping projects, the available imagery is often sufficient. Sometimes the area of interest is located in a gap where there is no good-quality imagery coverage. At other times, the available imagery may be outdated and newer imagery is needed to respond to a current event. This is when MapGive can help. </p>
      </dd>
-->