<aside role="complimentary">
  <div class="promo-box shadowed">
    <header role="header">
      <h2>More Information</h2>
    </header>
    <!-- old links
    <ul>
      <li><a href="{{ site.baseurl }}/stories/">Stories</a></li>
      <li><a href="{{ site.baseurl }}/learn-to-map/">Learn to map</a></li>
            <li><a href="{{ site.baseurl }}/frequently-asked-questions/">Frequently Asked Questions</a></li>
            <li><a href="{{ site.baseurl }}/ittc/">Imagery to the Crowd</a></li>
    </ul>
  -->
    <ul>
      <li><a href="{{ site.baseurl }}/stories/">Stories</a></li>
      <li><a href="{{ site.baseurl }}/learn-to-map/">Events</a></li>
      <li><a href="{{ site.baseurl }}/box/">MapGive in a Box</a></li>
      <li><a href="{{ site.baseurl }}/events/">MapGive in the News</a></li>
      <li><a href="{{ site.baseurl }}/ittc/">Imagery to the Crowd</a></li>
      <li><a href="{{ site.baseurl }}/frequently-asked-questions/">Frequently Asked Questions</a></li>
      
    </ul>
  -->
    <ul>
      <li><a href="{{ site.baseurl }}/stories/">Stories</a></li>
      <li><a href="{{ site.baseurl }}/learn-to-map/">Events</a></li>
      <li><a href="{{ site.baseurl }}/box/">MapGive in a Box</a></li>
      <li><a href="{{ site.baseurl }}/events/">MapGive in the News</a></li>
      <li><a href="{{ site.baseurl }}/ittc/">Imagery to the Crowd</a></li>
      <li><a href="{{ site.baseurl }}/frequently-asked-questions/">Frequently Asked Questions</a></li>
      
    </ul>
  </div>
</aside>
