<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="{{ site.baseurl }}/stories/make-a-difference.html">If the whole world is mapped, we can manage our resources better than if it’s not.</a>&rdquo;</blockquote>
    </div>
    <a href="{{ site.baseurl }}/stories/make-a-difference.html" class="image"><img src="../assets/img/kepha-ngito.jpg" alt="Kepha Ngito in Nairobi, Kenya." class="img-responsive" /></a>
    <p class="attribution"><a href="{{ site.baseurl }}/stories/make-a-difference.html">&ndash; Kepha
      Ngito, <em>Kenya</em></a></p>
  </div>
  
</aside>
