<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/stories/responding-to-disasters.html">This information provided critical data for assessing damage to infrastructure.</a>&rdquo;</blockquote>
    </div>
    <a href="/stories/responding-to-disasters.html" class="image"><img src="/assets/img/philippines-story.jpg" alt="Mappers review their materials in the Philippines." class="img-responsive" /></a>
    <p class="attribution"><a href="/stories/responding-to-disasters.html">&ndash;Tyler Machado, <em>Philippines</em></a></p>
  </div>
</aside>
