---
layout: default
title: Every Kid in a Park
twitterDescription: "White House Mapathon"
ogDescription: "White House Mapathon"
emailSubject: "White House Mapathon"
emailDescription: "White House Mapathon, http://mapgive.state.gov/whmapathon"
---

<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h1 class="page-title"><a href="{{ site.baseurl }}/whmapathon/">White House Mapathon</a> / {{ title }}</h1>
      </header>
    </div>
    <div class="col-md-offset-1 col-md-3">
      {% include social-media.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

      <header role="header">
        <h2 class="page-title">Description</h2>
      </header>
      <p>In the lead up to the <a href="http://www.nationalparks.org/our-work/celebrating-100-years-service">100th birthday</a> of the National Park Service in 2016, the President’s <a href="http://www.nationalparks.org/ook/every-kid-in-a-park">Every Kid in a Park</a> initiative is a call to action to get all children to visit and enjoy America’s unparalleled outdoors.</p>
      <p>This dataset documents sites where educational activities related to the Every Kid in a Park initiative are available, as collected by the various agencies represented under FICOR.   Through this exercise we’re going to improve the location and attributes for this information to provide better planning resources and contextual information for the “find your park” aspect of the initiative.</p>
 
      <header id="instructions" role="header">
        <h2 class="page-title">Instructions</h2>
      </header>

<ol>
  <li>Welcome to join the slack channel #dev4outdoors.  To join the channel, go to <a href="http://dev4outdoors.herokuapp.com/">http://dev4outdoors.herokuapp.com/</a> and request access.</li>
  <li>Go to <a href="https://www.openstreetmap.org">OpenStreetMap</a> - if you don’t already have an account, <a href="https://www.openstreetmap.org/user/new">sign up for one</a> and quickly learn to map.</li>
  <li>Visit the spreadsheet -  <a href="https://docs.google.com/spreadsheets/d/1Cou71UIGqwoeZdj8PdzZGB6bgi5JM6p9J8CrWg2L7qY/edit#gid=245679282">https://docs.google.com/spreadsheets/d/1Cou71UIGqwoeZdj8PdzZGB6bgi5JM6p9J8CrWg2L7qY/edit#gid=245679282</a>. Check out one State at a time (data is alphabetical by State) by noting your initials in the spreadsheet in the first column.  NOTE: It might be helpful to shade all the records by State with a color of your choice while editing to alert other viewers that you’re working on those records.</li>
  <li>Search in OpenStreetMap by the park name, address, or both.  Searches on address may not return the exact location you’re looking for - if you can’t easily find the correct location, please note it in the spreadsheet and move on to the next record.</li>
  <li>Once the correct location is identified, create features and attributes for as many of the activities as possible.  Key features to look for: Buildings, roads, trails. Handicap accessibility, restrooms, education-specific activities. Also be on the lookout for major recreational activities (e.g., hiking, camping, fishing, boating, swimming, picnicking, bird watching, etc.)</li>
  <li>When saving your edits, tag changeset commits to OSM with #WHMapathon and #EKIP.</li>
  <li>Once you’ve completed a park, move on to the next one!</li>
</ol>

      <header id="results" role="header">
        <h2 class="page-title">Results</h2>
      </header>
 
      <a href="/whmapathon/results/">Results Page</a>
      
      </br>
    </div>

    <div class="col-md-offset-1 col-md-3" >
      {% include more-info.html %}
      {% include learn-to-map-sidebar.html %}
    </div>
  </div>
</div>
