---
layout: default
title: White House Mapathon
twitterDescription: "White House Mapathon"
ogDescription: "White House Mapathon"
emailSubject: "White House Mapathon"
emailDescription: "White House Mapathon, http://mapgive.state.gov/whmapathon"
---

<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h1 class="page-title"><a href="/whmapathon/">White House Mapathon</a> / Every Kid in a Park</h1>
      </header>
    </div>
    <div class="col-md-offset-1 col-md-3">
      {% include social-media.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <header role="header">
        <h2 class="page-title">HashTag</h2>
      </header>

      #WHMapathon

      <header role="header">
        <h2 class="page-title">Remote Mapping Projects</h2>
      </header>

      <h3>Open Roads, Philippines</h3>
      <div>Improved Real Time Decision making of Infrastructure Investments for the Philippines by linking geospatial road network data with rich geo-tagged social data collected through mobile phones.  Imagery service provided by <a href="http://mapgive.state.gov/ittc/">Imagery to the Crowd</a>.</div>
      <br>
      <div><b>Projects: </b><a href="http://tasks.hotosm.org/project/1054">1054</a>, <a href="http://tasks.hotosm.org/project/1055">1055</a>, and <a href="http://tasks.hotosm.org/project/1056">1056</a></div>

      <h3>Peace Corps, Botswana</h3>
      <div>Imagery service provided by Bing.</div>
      <br>
      <div><b>Project: </b><a href="http://tasks.hotosm.org/project/1057">1057</a></div>

      <h3>Nepal Earthquake</h3>
      <div>Over <a href="http://osm.townsendjennings.com/nepal/">5,000 volunteer mappers</a> have improved the basemap of Nepal after the recent Earthquake.  There's still some projects set up by HOT with tiles that need to be completed.  Imagery service provided by Bing.</div>
      <br>
      <div><b>Projects: </b><a href="http://tasks.hotosm.org/project/1043">Solukhumbu</a>, <a href="http://tasks.hotosm.org/project/1048">Tanahu</a>, and <a href="http://tasks.hotosm.org/project/1047">Palpa</a></div>

      <hr></hr>

      <header role="header">
        <h2 class="page-title">Partners</h2>
      </header>
 
      <a href="http://mapgive.state.gov">MapGive</a>, PeaceCorps, TBD_
      
      </br>
    </div>

    <div class="col-md-offset-1 col-md-3" >
      {% include more-info.html %}
      {% include learn-to-map-sidebar.html %}
    </div>
  </div>
</div>
