---
title: About
layout: default
twitterDescription: Help OpenStreetMap build a free digital map of the world with
  MapGive.
ogDescription: OpenStreetMap (OSM) is a non-profit project that is building a free
  digital map of the world.
ogImage: "/assets/img/open-graph-logo.png"
emailSubject: Learn about how online volunteers are helping build free digital maps.
emailDescription: OpenStreetMap (OSM) is a non-profit project that is building a free
  digital map of the world.
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>Open Mapping  is when individuals work together to contribute to a freely accessible map of the world. Crowdsourcing is an important method of Open Mapping, but many mappers work from the ground directly in their communities. Updated map data that is open and highly detailed helps play a critical role in humanitarian assistance and development programs. Learn about some of the groups mobilizing the global mapping community.</p>
    <article>
      <div class="media">
        <div class="pull-left media-object">
            <span class="osm"></span>
          </div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">OpenStreetMap</h2>
          </header>
          <p><a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> 

(OSM) is a collaborative project that is building a free editable map of the world. A diverse, global community of contributors, including online volunteers, or remote mappers, as well GIS professionals, contribute data that creates an accurate, detailed, and up-to-date map. There are many free maps on the Internet, but the underlying data in many other maps is not available for public use due to legal and technical restrictions. OpenStreetMap opens up the map and the data to the public and makes it free to modify and use under an open license (<a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License 1.0</a>). OpenStreetMap powers map data on thousands of web sites, mobile apps, and hardware devices.

            </p>
        </div>
      </div>
    </article>
    <article>
      <div class="media">
        <div class="pull-left media-object">
            <span class="hot"></span>
          </div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">Humanitarian OpenStreetMap Team</h2>
          </header>
          <p>The <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a> 

(HOT) is a non-profit organization that coordinates the creation, production and distribution of free mapping resources to provide map data supporting humanitarian response efforts around the world through OSM. HOT efforts made a significant impact supporting earthquake relief in Haiti in 2010 and have since regularly made critical contributions to major disasters and worked to expand knowledge across partners and communities. HOT's mission is to apply the principles of open source and open data sharing towards disaster management and the achievement of the Sustainable Development Goals.
            </p>
        </div>
      </div>
    </article>


    <article>
      <div class="media">
        <div class="pull-left media-object">
            <span class="media-object ym-img" ><img src="{{site.baseurl}}/assets/img/ym_logo.png" width="96px"></span>
          </div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">YouthMappers</h2>
          </header>
          <p><a href="https://www.youthmappers.org/" target="_blank">YouthMappers</a> is an international university constorium on Mapping for Resilience that organizes a global community of learners, researchers, educators, and scholars to create and use open geographic data to directly address locally defined development challenges worldwide. YouthMappers invites students and faculty advisors to join its network that includes over 140 chapters across over 40 countries. YouthMappers is supported by the United States Agency for International Development through a grant from the USAID GeoCenter. Founding partners are Texas Tech University, The Geoge Washington University, and West Virginia University.</p> 
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <!--
        <div class="pull-left media-object">
            <span class="dos"></span>
          </div>-->

        <div class="pull-left media-object">
            <span class="media-object mm-img" ><img src="{{site.baseurl}}/assets/img/missingmaps_logo.png" width="103px"></span>
          </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Missing Maps</h2>
          </header>
          <p><a href="https://www.missingmaps.org/" target="_blank">Missing Maps</a> is an open, collaborative project founded by HOT, Medecins Sans Frontieres, British Red Cross, and the American Red Cross that aims to map areas using OSM so that individuals, communities, and organizations can use open data to better prepare and respond to natural disasters and humanitarian emergencies. Missing Maps supports community mapping by developing technologies, skills, and workflows and by harnessing a global volunteer network.</p> 
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
            <span class="media-object gfdrr-img" ><img src="{{site.baseurl}}/assets/img/gfdrr_logo.png" width="96px"></span>
          </div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">Global Facility for Disaster Reduction and Recovery (GFDRR)</h2>
          </header>
          <p>The <a href="https://www.gfdrr.org/" target="_blank">Global Facility for Disaster Reduction and Recovery (GFDRR)</a> is a global partnership that helps developing coutnries better understand and reduce their vulnerability to natural hazards and climate change. GFDRR is a grant-funding mechanism managed by the World Bank that supports disaster risk management projects worldwide and provides knowledge, funding, and technical assistance. The Open Data for Resilience Initiative (<a href="https://opendri.org/" target="_blank">OpenDRI</a>), part of GFDRR, applies concepts of the global open data movement to the challenges of reducing vulnerability to natural hazards and the impacts of climate change and supports World Bank Regional Disaster Risk Management Teams to build capacity and long-term ownership of open data projects with client countries.</p> 
        </div>
      </div>
    </article>

    <article>
      <div class="media last">
        <div class="pull-left media-object">
            <span class="media-object 2c-img" ><img src="{{site.baseurl}}/assets/img/2C_LogoBlueOnWhite_clip.png" width="115px"></span>
          </div>
        <div class="media-body">
        <div class="media-body">
          <header>
            <h2 class="media-heading">Secondary Cities</h2>
          </header>
          <p><a href="https://secondarycities.state.gov/" target="_blank">Secondary Cities</a> (2C) is a field-based initiative of the U.S. Department of State's Office of the Geographer and Global Issues to map for resiliency, humanity security, and emergency preparedness. Secondary Cities builds partnerships to create geospatial capacity, enhance understanding through data and mapping, and enable science-based decision making. Projects and partners support any one or combination of open source and proprietary geospatial tools and technologies for data generation, data management and sharing, data visualization, and remote sensing.</p> 
        </div>
      </div>
    </article>






  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include alyssa-wright.html %}
  </div>
</div>

