/********** Fonts *********/

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******* end Fonts ********/

@media (min-width: 768px) {
  html, body {
    height: 100%;
  }
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #51504d;
}

/* Opera fix for sticky footer */
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
}

blockquote {
  padding: 0;
  margin: 0;
  border: 0;
}


a {
  color: #444;
}

a:hover, 
a:focus,
.action-link {
  color: #d73f3f;
  text-decoration: underline;
}

dt {
  font-weight: normal;
}

#main a {
  text-decoration: underline;
}

#main-wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  #main-wrapper {
    min-height: 100%;
  }
}

@media (min-width: 768px) {
  #main {
    padding-bottom: 300px; /* footer height */
  }
}

.site-tagline {
  display: none;
}

@media (min-width: 768px) {
  .site-tagline {
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.page-title {
  text-transform: uppercase;
  line-height: 1.4em;
  margin-top: 25px;
}

.page-title:first-letter {
  font-size: 1.25em;
  margin-top: -3px;
}

@media (min-width: 768px) {
  .hook,
  .page-title {
    margin-top: 50px;
  }
}

.btn-primary {
  background-color: #d73f3f;
  border-color: #d73f3f;
  color: white;
}

/***** Main Nav *****/

.navbar {
  width: 100%;
  z-index: 1;
  min-height: 0;
}

.lt-ie8 .navbar {
  border: 0;
}

.navbar.affix {
  position: fixed;
  top: 0;
}

.navbar.affix + #main {
  /* padding-top needs to be total height of .navbar */
  padding-top: 63px;
}

.navbar-default {
  background-color: #667766;
  border: 0;
  border-bottom: 1px solid #51504d;
  border-radius: 0;
}

.navbar-default .navbar-header {
  padding: 10px 0;
}

.navbar-brand {
  padding: 0 15px;
}


.navbar-brand .brand a:focus,
.navbar-brand .brand a:hover,
.navbar-brand .brand a:active {
  text-decoration: none;
}

.navbar-brand .brand h1 {
  font-size: 24px;
  margin: 0 0 2px 0;
  display: inline-block;
}

.navbar-nav {
  margin: 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    top: 25px;
  }
}

.lt-ie9 .navbar-default {
  border-bottom: 1px solid #bcbcbc;
}

.navbar-default .navbar-nav > li > a {
  padding: 15px;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  text-decoration: underline;
  color: #fff;
}

.navbar-default .navbar-nav > li > a.navbar-btn {
  margin: 15px;
  padding: 6px 12px;
  display: inline-block;
}

.lt-ie8 .navbar-default .navbar-nav > li > a.navbar-btn {
  display: block;
}

.navbar-default .navbar-nav > li > a.navbar-btn:active,
.navbar-default .navbar-nav > li > a.navbar-btn:hover,
.navbar-default .navbar-nav > li > a.navbar-btn:focus {
  background-color: #E83030;
  border-color: #E83030;
}

.navbar-default .navbar-collapse {
  border-color: #fff;
  padding: 0;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    min-height: 64px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 0;
    margin: 0 0 0 20px;
  }

  .navbar-default .navbar-nav > li > a.navbar-btn {
    position: relative;
    bottom: 6px;
    margin: 0 0 0 20px;
  }
}

/***** Main Nav End *****/

/******** Footer ********/

#footer {
  background-color: #bcbcbc;
  border-top: 10px solid #52504d;
  position: relative;
}

#footer::before {
  content: '';
  display: block;
  background: url('/assets/img/world-map.png') 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.15;
}

#footer ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#footer .social {
  display: inline-block;
  float: right;
  margin: 0;
}

.footer-nav {
  overflow: hidden;
}

.footer-nav li {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: .9em;
}

.footer-nav > .first {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-nav > .last {
  padding-right: 0;
}

.footer-nav ul li {
  font-size: 1em;
}

.footer-nav ul  .first {
  margin-top: 15px;
}

#footer .legal {
  padding: 10px 0;
  margin: 0;
}

#footer .legal a {
  font-size: .8em;
  padding-right: 10px;
  display: inline-block;
}

#footer .legal > div {
  padding: 0;
}

#footer a {
  color: #444;
}

@media (min-width: 768px) {
  #footer {
    position: relative;
    margin-top: -300px; /* negative footer height */
    min-height: 300px;
    height: auto;
  }

  .footer-nav > li {
    width: 25%;
    padding: 0 10px;
    float: left;
  }

  .lt-ie8 .footer-nav > li {
    padding: 0;
    width: 22%;
  }
}

.footer-title {
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

.footer-title h2 {
  padding: 10px 0;
  text-transform: uppercase;
  display: inline-block;
}

.mission {
  margin-top: 20px;
  border-top: 1px solid #444;
}

.mission > h4 {
  display: inline-block;
}

@media (min-width: 768px) {
  .mission {
    margin-top: 0;
    border-top: 0;
    border-left: 1px solid black;
  }

  .lt-ie8 .mission {
    border-left: none;
  }

  .mission > h4 {
    background-image: none;
  }
}

/****** End Footer ******/

.infographics {
  margin-top: 40px;
}

.infographics img, .infographics .btn {
  margin-bottom: 20px;
}

.infographics .btn {
  background-color: #d73f3f;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  width: 100%;
  height: 200px;
  font-size: 4em;
  text-align: left;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#main .infographics .btn {
  text-decoration: none;
}

.infographics .world {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .hook span {
    display: block;
    text-align: center;
  }

  .infographics .btn {
    width: 220px;
    height: 147px;
    font-size: 2.5em;
    padding-left: 25px;
  }

  .infographics .world {
    display: block;
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .infographics .btn {
    width: 293px;
    height: 196px;
    font-size: 4em;
    padding-left: 12px;
  }
}

@media (min-width: 1200px) {
  .infographics .btn {
    width: 360px;
    height: 240px;
    font-size: 5em;
  }

  .infographics .btn .first {
    margin-top: 10px;
  }
}

.infographics .btn:active {
  box-shadow: inset 0px 0px 10px -2px #693f41;
}

.infographics .btn .text {
  text-shadow: 3px 3px 10px #693f41;
  box-shadow: none;
}

.infographics .btn:active .text {
  text-shadow: 1px 1px 10px #693f41;
}

.infographics .btn .first {
  display: block;
}

.promo-box, 
.story-promo {
  margin-bottom: 30px;
  background: url('/assets/img/stripes.png') #ccdddd;
  background: rgba(204,221,221,1) url('/assets/img/stripes.svg');
}

#main .thumbnail .caption a,
#main .promo-box a,
#main .story-promo a {
  text-decoration: none;
}

#main .caption a:hover,
#main .promo-box a:hover,
#main .story-promo a:hover {
  text-decoration: underline;
}

.action-link::after,
#main .promo-box a::after {
  content: '\00BB';
  font-size: 1em;
  display: inline-block;
  padding-left: 5px;
}

.promo-box {
  padding: 20px;
}

.attribution {
  padding: 0 20px 20px;
}

.story-promo .attribution {
  text-align: right;
}

.story-promo .quote:before {
  /* The quote character*/
  content: "\201C";
  font-size: 3em;
  position: absolute;
  padding: 10px 0 0 20px;
}

.story-promo blockquote {
  padding: 30px 20px 20px 40px;
  font-size: 25px;
  line-height: 1.15em;
  font-style: italic;
}

.promo-box h2 {
  margin-top: 0;
  -webkit-margin-before: 0;
  font-size: 25px;
}

.promo-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo-box li {
  border-top: 1px dotted #444;
  line-height: 1em;
  padding: 0.5em 0;
}

.step, .media {
  border-bottom: 1px dotted #444;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.step:last-child, .media.last {
  border-bottom: 0;
}

.lt-ie9 .step.last {
  border-bottom: 0 !important;
}

.step:first-child, .media:first-child {
  margin-top: 15px;
}

.media-heading {
  margin: 0 0 .5em 0;
}

.step .title {
  font-size: 1.15em;
  margin-bottom: 15px;
  float: left;
}

.step ol {
  list-style-type: lower-alpha;
}

.steps  {
  counter-reset: li;
  padding-left: 50px;
  margin-top: 30px;
}

.steps .step {
  list-style: none;
  margin-left: 0;
}

.steps .title:before {
  content: counter(li);
  counter-increment: li;
  padding: 8px;
  position: absolute;
  left: -28px;
}

.steps .step:before {
  content: "";
  background-color: #deccb4;
  padding: 0;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.lt-ie8 .steps {
  padding-left: 0;
}

.lt-ie9 .steps .title:before {
  content: "";
  padding: 0;
  position: static;
}

.lt-ie9 .steps .step:before {
  background-color: transparent;
  position: static;
  border-radius: 0;
  width: auto;
  height: auto;
  padding: 0;
}

.lt-ie9 .steps .step {
  margin-left: -40px;
  padding-left: 75px;
}

.steps p, .steps ol li {
  font-size: 0.9em;
}

.steps .caption {
  font-size: .8em;
}

.steps .estimate {
  padding: 5px 0;
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
}

.steps .estimate p {
  display: inline-block;
  margin-bottom: 0;
}

.steps .estimate .estimate-title {
  padding: 0 0 0 10px;
  font-size: 1.15em;
}

.steps .estimate .estimate-title:after {
  content: ":";
  padding-right: 2px;
}

@media (min-width: 768px) {
  .steps .step {
    margin-left: 15px;
  }

  .steps .title:before {
    padding: 13px;
    left: -43px;
  }

  .steps .step:before {
    padding: 15px;
    width: 50px;
    height: 50px;
  }

  .steps .estimate {
    padding: 5px;
  }

  .steps .estimate {
    padding: 5px;
    margin-bottom: 0;
    border-left: 1px dotted #51504d;
  }

  .steps .estimate p {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }

  .steps .estimate .estimate-title {
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 7px;
    padding: 1px 0 7px 20px;
  }

  .steps .estimate .estimate-title:after {
    content: "";
    padding: 0;
  }
}

.thumbnail {
  padding: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  min-height: 308px;
}

.thumbnail h3 {
  margin-top: 0;
}

.thumbnail .image {
  display: block;
  width: 100%;
}

.thumbnail, .story {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .thumbnail {
    min-height: 308px;
  }

  .thumbnail img {
    width: 188px;
    height: 107px;
  }
}

@media (min-width: 992px) {
  .thumbnail img {
    width: 261px;
    height: 133px;
  }
}

@media (min-width: 1200px) {
  .thumbnail {
    min-height: 336px;
  }

  .thumbnail img {
    width: 328px;
    height: 187px;
  }
}

.story .figure {
  float: left;
  margin: 0 15px 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .story .figure {
    width: 350px;
  }
}

.video {
  margin-bottom: 30px;
}

/* Responsive Video */
.video-player-container {
  position: relative;
}

.video-player-container iframe,
.video-player-container object,
.video-player-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 20%;
  height: auto;
}

.img-container-small {
  width: 15%;
  height: auto;
}

img[src$=".svg"].img-responsive, img[src$=".svg"].img-responsive {
  width: 100%;
}

.action {
  display: block;
}

.more-info {
  display: block;
}

.caption {
  margin-top: 10px;
  font-size: 0.8em;
  color: #666;
}

/* 
 ******************* Accordions *******************
 */

.accordion dt {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.accordion dt:first-child {
  margin-top: 0;
}

.accordion dt[aria-expanded="true"] {
  background-color: #f7f7f7;
}

.no-js .accordion dt[aria-expanded="true"] {
  background-color: transparent;
}

.accordion dd {
  overflow: hidden;
  max-height: 7000px;
  -webkit-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
          transition: all .3s ease-out;
  padding: 0 40px 10px 40px;
  background-color: #f7f7f7;
}

.accordion dd:active {
  outline: none;
}

.no-js .accordion dd {
  background-color: transparent;
}

.accordion dd p:first-child {
  border-top: 1px dotted #444;
  padding-top: 10px;
}

.no-js dd p:first-child {
  border: none;
}

.accordion .hide {
  max-height: 0;
}

.accordion .js-control {
  padding: 0 6px;
  width: 20px;
  display: inline-block;
  color: white;
  background-color: #d73f3f;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .accordion .js-control {
    display: block;
    float: left;
    margin-bottom: 10px;
  }
}

.lt-ie8 .accordion .js-control {
  padding-right: 0;
  padding-left: 10px;
}


/*
 ******************** Helpers / Fixes *********************
 */

.first {
  padding-left: 0;
  margin-left: 0;
}

.lt-ie8 div[class^='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.lt-ie8 .row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .lt-ie8 .row {
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .lt-ie8 .row {
    overflow: visible;
  }
}

.shadowed {
  box-shadow: 1px 1px 7px -3px #888;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
}

.hyphenate {
-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

/*
 ******************** Sprites *********************
 */

#hidden-sprite {
  display: none;
}

.social {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 992px) {
  .social {
    margin: 70px 0 0;
  }
}

.social li {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.social .share {
  border-right: 1px solid #51504d;
  padding-right: 10px;
  width: auto;
  height: auto;
}

.opera-mini .social .share,
.no-svg .social .share,
.svg .social .share {
  background: none;
}

.social a {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.svg .globe,
.svg .marker,
.svg .map,
.svg .hot,
.svg .dos,
.svg .logo,
.svg .play-button,
.svg .steps .estimate .clock,
.svg .social li {
  background-image: url("/assets/img/sprite.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 366px 208px;
}

.svg .social .mail {
  background-position: -256px -177px;
  margin-top: 3px;
}

.svg .social .facebook {
  background-position: -277px -177px;
}

.svg .social .twitter {
  background-position: -298px -177px;
  margin-top: 2px;
}

.svg #footer .twitter {
  margin: 0;
}

.svg .social .plus {
  background-position: -319px -177px;
}

.media {
  clear: both;
}

.media-object {
  width: 65px;
  height: 65px;
}

.media-object span {
  display: block;
  width: 65px;
  height: 65px;
}

.svg .media-object .globe {
  background-position: -67px 0;
  background-size: 229px 134px;
  margin: 0 auto;
}

.svg .media-object .marker {
  background-position: -195px 0;
  background-size: 229px 134px;
  width: 33px;
  margin: 0 auto;
}

.svg .media-object .map {
  background-position: -132px 0;
  background-size: 229px 134px;
  width: 63px;
  margin: 0 auto;
}

.svg .media-object .osm {
  background-image: url("/assets/img/osm.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 65px 64px;
  width: 95px;
  height: 93px;
  margin: 0 auto;
}

.svg .media-object .hot {
  background-position: -156px -68px;
  background-size: 229px 134px;
  height: 39px;
  margin: 0 auto;
}

.svg .media-object .dos {
  background-position: 0 -67px;
  background-size: 229px 134px;
  width: 67px;
  height: 68px;
  margin: 0 auto;
}

.site-logo {
  font-family: "Trebuchet MS", Arial, sans-serif;
  text-transform: uppercase;
}

.site-logo.white {
  color: #ffffff;
}

.svg .logo {
  background-position: -2em -1.16666666666667em; /* -72/36 -42/36 */
  background-size: 4.05555555555556em 2.30555555555556em; /* 146/36 83/36 */
  width: 0.80555555555556em; /* 29/36 */
  height: 1.20833333333333em; /* 43.5/36 */
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 0.16666666666667em; /* 3/36 */
}

.svg .site-logo.white .logo {
  background-position: -1.19444444444444em -1.13888888888889em; /* -43/36 -41/36 */
  background-size: 4.05555555555556em 2.30555555555556em; /* 146/36 83/36 */
  width: 0.80555555555556em; /* 29/36 */
  height: 1.19444444444444em; /* 43.5/36 */
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 0.16666666666667em; /* 3/36 */
}

.svg .play {
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.svg .play-button {
  background-position: 0 0;
  width: 104px;
  height: 104px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -53px;
}

.svg .steps .estimate .clock {
  background-position: -340px -177px;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 2px 0 0 0;
}

.footer-flag-seal,
.mission-flag-seal,
.opera-mini .globe,
.opera-mini .marker,
.opera-mini .map,
.opera-mini .media-object .osm,
.opera-mini .hot,
.opera-mini .dos,
.opera-mini .brand .logo,
.opera-mini .footer-title .logo,
.opera-mini .play-button,
.opera-mini .steps .estimate .clock,
.opera-mini .social li,
.no-svg .globe,
.no-svg .marker,
.no-svg .map,
.no-svg .osm,
.no-svg .hot,
.no-svg .dos,
.no-svg .brand .logo,
.no-svg .footer-title .logo,
.no-svg .play-button,
.no-svg .steps .estimate .clock,
.no-svg .social li {
  background-image: url("/assets/img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.opera-mini .social .mail,
.no-svg .social .mail {
  background-position: -23px -317px;
  margin-top: 3px;
}

.opera-mini .social .facebook,
.no-svg .social .facebook {
  background-position: -44px -317px;
}

.opera-mini .social .twitter,
.no-svg .social .twitter {
  background-position: -65px -317px;
  margin-top: 2px;
}

.opera-mini #footer .twitter,
.no-svg #footer .twitter {
  margin: 0;
}

.opera-mini .social .plus,
.no-svg .social .plus {
  background-position: -86px -317px;
}

.opera-mini .media-object .globe,
.no-svg .media-object .globe {
  background-position: 0 -164px;
  width: 51px;
  height: 51px;
  margin: 0 auto;
}

.opera-mini .media-object .marker,
.no-svg .media-object .marker {
  background-position: -101px -164px;
  width: 26px;
  height: 51px;
  margin: 0 auto;
}

.opera-mini .media-object .map,
.no-svg .media-object .map {
  background-position: -52px -164px;
  width: 48px;
  height: 51px;
  margin: 0 auto;
}

.opera-mini .media-object .osm,
.no-svg .media-object .osm {
  background-position: -128px -164px;
  width: 46px;
  height: 49px;
  margin: 0 auto;
}

.opera-mini .media-object .hot,
.no-svg .media-object .hot {
  background-position: -226px -164px;
  width: 50px;
  height: 32px;
  margin: 0 auto;
}

.opera-mini .media-object .dos,
.no-svg .media-object .dos {
  background-position: -175px -164px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.opera-mini .play,
.no-svg .play {
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.no-svg.lt-ie9 .play {
  background-color: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.no-svg.lt-ie8 .play {
  background-color: #000000;
  filter: alpha(opacity=40);
}

.opera-mini .play-button,
.no-svg .play-button {
  background-position: -95px -216px;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -51px;
}

.opera-mini .brand .logo,
.no-svg .brand .logo {
  background-position: -203px -317px;
  width: 18px;
  height: 28px;
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 5px;
}

.opera-mini .footer-title .logo,
.no-svg .footer-title .logo {
  background-position: -225px -317px;
  width: 23px;
  height: 35px;
  display: inline-block;
  margin: 0 3px;
  position: relative;
  top: 5px;
}

.opera-mini .steps .estimate .clock,
.no-svg .steps .estimate .clock {
  background-position: -2px -317px;
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 2px 0 0 0;
}

.lt-ie9 .steps #step-1,
.lt-ie9 .steps #step-2,
.lt-ie9 .steps #step-3 {
  background: url("/assets/img/sprite.png") no-repeat;
  width: 50px;
  height: 50px;
  float: left;
  margin-left: -75px;
}

.lt-ie9 .steps #step-1 {
  background-position: -252px -103px;
}

.lt-ie9 .steps #step-2 {
  background-position: -252px -52px;
}

.lt-ie9 .steps #step-3 {
  background-position: -252px -1px;
}

.mission-flag-seal {
  background-position: -108px -317px;
  width: 53px;
  height: 19px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .media-object {
    width: 130px;
    height: 130px;
  }

  .media-object span {
    width: 130px;
    height: 130px;
  }

  .svg .media-object .globe {
    background-position: -108px 0;
    background-size: 366px 208px;
    width: 100px;
    height: 100px;
  }

  .svg .media-object .marker {
    background-position: -312px 0;
    background-size: 366px 208px;
    width: 52px;
    height: 100px;
  }

  .svg .media-object .map {
    background-position: -212px 0;
    background-size: 366px 208px;
    width: 95px;
    height: 101px;
  }

  .svg .media-object .osm {
    background-size: 95px 93px;
    width: 95px;
    height: 93px;
  }

  .svg .media-object .hot {
    background-position: -255px -107px;
    background-size: 366px 208px;
    width: 100px;
    height: 61px;
  }

  .svg .media-object .dos {
    background-position: -1px -105px;
    background-size: 366px 208px;
    width: 102px;
    height: 102px;
  }

  .opera-mini .steps .estimate .clock,
  .no-svg .steps .estimate .clock,
  .svg .steps .estimate .clock {
    margin-left: 15px;
  }

  .opera-mini .media-object .globe,
  .no-svg .media-object .globe {
    background-position: -1px -1px;
    width: 100px;
    height: 100px;
  }

  .opera-mini .media-object .marker,
  .no-svg .media-object .marker {
    background-position: -199px -1px;
    width: 52px;
    height: 100px;
  }

  .opera-mini .media-object .map,
  .no-svg .media-object .map {
    background-position: -102px -1px;
    width: 96px;
    height: 100px;
  }

  .opera-mini .media-object .osm,
  .no-svg .media-object .osm {
    background-position: -1px -216px;
    width: 92px;
    height: 96px;
  }

  .opera-mini .media-object .hot,
  .no-svg .media-object .hot {
    background-position: -137px -102px;
    width: 100px;
    height: 62px;
  }

  .opera-mini .media-object .dos,
  .no-svg .media-object .dos {
    background-position: -196px -216px;
    width: 100px;
    height: 100px;
  }

  .mission-flag-seal {
    display: none;
    visibility: hidden;
  }

  .footer-flag-seal {
    background-position: 0 -102px;
    width: 136px;
    height: 49px;
    display: inline-block;
    float: right;
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .opera-mini .steps .estimate .clock,
  .no-svg .steps .estimate .clock,
  .svg .steps .estimate .clock {
    margin-left: 5px;
  }

  .footer-title h2 {
    background-position: 805px -519px;
  }
}

@media (min-width: 1200px) {
  .opera-mini .steps .estimate .clock,
  .no-svg .steps .estimate .clock,
  .svg .steps .estimate .clock {
    margin-left: 15px;
  }

  .footer-title h2 {
    background-position: 1005px -519px;
  }
}

.opera-mini.svg .globe,
.opera-mini.svg .marker,
.opera-mini.svg .map,
.opera-mini.svg .osm,
.opera-mini.svg .hot,
.opera-mini.svg .dos,
.opera-mini.svg .logo,
.opera-mini.svg .play-button,
.opera-mini.svg .steps .estimate .clock,
.opera-mini.svg .social li {
  background-size: auto auto;
}

.opera-mini.svg .site-logo.white .logo {
  background-size: auto auto;
  background-position: -203px -317px;
}

/* Thanks to... */
/* Sticky footer http://www.cssstickyfooter.com */
/* Responsive YouTube embed http://avexdesigns.com/responsive-youtube-embed/ */


/************ Print Stylesheet *************/
@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  #main {
    padding-bottom: 0;
  }

  #main-wrapper {
    height: auto !important;
    min-height: 0 !important;
  }

  .page-title {
    margin: 0;
  }

  .thumbnail {
    border: 0;
    padding: 0;
    height: 300px !important;
  }

  .story .figure,
  .thumbnail img {
    width: 250px;
    height: auto;
  }

  .media-body {
    padding: 0;
  }

  .accordion dd p:first-child {
    padding: 0;
    border: 0;
  }

  .accordion .hide {
    max-height: none;
  }

  .hide {
    display: block !important;
  }

  #footer {
    border: 0;
    position: static;
    margin: 0;
    min-height: none;
  }

  .footer-title {
    border: 0;
    margin: 0;
  }

  .footer-title h2 {
    padding: 0;
    margin: 0;
  }

  #footer .mission {
    border: 0;
    width: 100%;
  }

  .infographics img.img-responsive,
  .infographics .btn,
  .accordion .js-control,
  .promo-box,
  .story-promo,
  .video,
  .social,
  #footer .legal,
  #footer nav,
  #footer .footer-nav {
    display: none !important;
  }
}
