/********** Fonts **********/

@font-face {
    font-family: "Open Sans Regular";
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/********** end Fonts **********/

@media (min-width: 768px) {
  html, body {
    height: 100%;
  }
}

body {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #51504d;
}

/* Opera fix for sticky footer */
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
}

blockquote {
  padding: 0;
  margin: 0;
  border: 0;
}


a {
  color: #444;
}

.lt-ie9 a {
  color: #d73f3f;
}

a:hover {
  color: #d73f3f;
}

a::after {
  content: '\00BB';
  font-size: 1em;
  display: inline-block;
  padding-left: 5px;
}

@media (min-width: 768px) {
  #main-wrapper {
    min-height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #main {
    padding-bottom: 300px; /* footer height */
  }
}

.site-title {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.site-title .first-word {
  font-size: 0.5em;
  display: block;
}

.site-title .tagline {
  font-size: 0.45833333333333em;
  display: block;
  margin-top: 5px;
  letter-spacing: 0.1em;
}

.page-title {
  text-transform: uppercase;
}

.raised-cap {
  font-size: 1.25em;
}

/***** Main Nav *****/

.navbar {
  width: 100%;
  z-index: 1;
  padding: 10px 0 0 0;
}

.navbar a::after {
  content: '';
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.navbar.affix {
  position: fixed;
  top: 0;
}

.navbar.affix + #main {
  /* padding-top needs to be total height of .navbar */
  padding-top: 108px;
}

.navbar-default {
  background-color: #667766;
  border-bottom: 1px solid #51504d;
  border-radius: 0;
}

.navbar-nav {
  margin: 0;
}

.lt-ie9 .navbar-default {
  border-bottom: 1px solid #bcbcbc;
}

.navbar-header {
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
  padding: 15px;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #fff;
}

.navbar-default .navbar-nav > li > a.navbar-btn {
  margin: 15px;
  padding: 6px 12px;
  display: inline-block;
}

.btn-primary {
  background-color: #d73f3f;
  border-color: #d73f3f;
  color: white;
}

.navbar-default .navbar-nav > li > a.navbar-btn:active,
.navbar-default .navbar-nav > li > a.navbar-btn:hover,
.navbar-default .navbar-nav > li > a.navbar-btn:focus {
  background-color: #E83030;
  border-color: #E83030;
}

.navbar-default .navbar-collapse {
  border-color: #fff;
  padding: 0;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  position: relative;
  top: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar-default .navbar-collapse {
    position: relative;
    bottom: -55px;
  }

  .navbar-default .navbar-nav > li > a {
    padding: 0 0 0 20px;
  }

  .navbar-default .navbar-nav > li > a.navbar-btn {
    position: relative;
    bottom: 6px;
    margin: 0 0 0 20px;
  }

}

/***** Main Nav End *****/

/******** Footer ********/

#footer {
  background-color: #bcbcbc;
  border-top: 10px solid #52504d;
  position: relative;
}

#footer::before {
  content: '';
  display: block;
  background: url('/assets/img/world-map.png') 50% 50% no-repeat;
  background: rgba(0,0,0,0) url('/assets/img/world-map.svg') 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.15;
}

#footer ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.footer-nav {
  overflow: hidden;
}

.footer-nav li {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: .9em;
}

.footer-nav > .first {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-nav > .last {
  padding-right: 0;
}

.footer-nav ul li {
  font-size: 1em;
}

.footer-nav ul  .first {
  margin-top: 15px;
}

#footer .legal {
  padding: 10px 0;
  margin: 0;
}

#footer .legal a {
  font-size: .8em;
  padding-right: 10px;
}

#footer .legal > div {
  padding: 0;
}

#footer a {
  color: #444;
}

#footer a::after {
  content: '';
  padding: 0;
}

@media (min-width: 768px) {
  #footer {
    position: relative;
    margin-top: -300px; /* negative footer height */
    min-height: 300px;
    height: auto;
  }

  .footer-nav > li {
    width: 25%;
    padding: 0 10px;
    float: left;
  }

  .lt-ie8 .footer-nav > li {
    padding: 0;
    width: 22%;
  }
}

.footer-title {
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

.footer-title h2 {
  padding: 10px 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer-title h2 {
    background: url('/assets/img/ie-sprite.png') no-repeat 585px -519px;
  }
}

@media (min-width: 992px) {
  .footer-title h2 {
    background-position: 805px -519px;;
  }
}

@media (min-width: 1200px) {
  .footer-title h2 {
    background-position: 1005px -519px;;
  }
}

.mission {
  margin-top: 20px;
  border-top: 1px solid #444;
}

.mission > h4 {
  background: url('/assets/img/ie-sprite.png') no-repeat 125px 0;
}

@media (min-width: 768px) {
  .mission {
    margin-top: 0;
    border-top: 0;
    border-left: 1px solid black;
  }

  .lt-ie8 .mission {
    border-left: none;
  }

  .mission > h4 {
    background-image: none;
  }
}

/****** End Footer ******/

.infographics img, .infographics .btn {
  margin-bottom: 20px;
}

.infographics .btn {
  background-color: #d73f3f;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  width: 100%;
  height: 200px;
  font-size: 4em;
  text-align: left;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .infographics {
    padding-top: 70px;
  }

  .infographics .btn {
    width: 220px;
    height: 147px;
    font-size: 2.5em;
    padding-left: 25px;
  }

  .infographics .start-button::before {
    background: url('/assets/img/arrow.png') repeat-x;
    background: rgba(0,0,0,0) url('/assets/img/arrow.svg') repeat-x;
    display: inline-block;
    content: "";
    height: 39px;
    width: 190px;
    position: absolute;
    top: -50px;
    left: 29px;
  }
}

@media (min-width: 992px) {
  .infographics .btn {
    width: 293px;
    height: 196px;
    font-size: 4em;
    padding-left: 12px;
  }

  .infographics .start-button::before {
    width: 253px;
    left: 33px;
  }
}

.infographics .btn:active {
  box-shadow: inset 0px 0px 10px -2px #693f41;
}

.infographics .btn .text {
  text-shadow: 3px 3px 10px #693f41;
  box-shadow: none;
}

.infographics .btn:active .text {
  text-shadow: 1px 1px 10px #693f41;
}

.infographics .btn .first {
  display: block;
}


.promo-box, .story-promo {
  margin-bottom: 30px;
  background: url('/assets/img/stripes.png') #ccdddd;
  background: rgba(204,221,221,1) url('/assets/img/stripes.svg');
}

.lt-ie8 .promo-box a, .lt-ie8 .story-promo a {
  color: #444;
}

.promo-box {
  padding: 20px;
}

.attribution {
  padding: 0 20px 20px;
}

.story-promo .attribution {
  text-align: right;
}

.story-promo .quote::before {
  /* The quote character*/
  content: "\201C";
  font-size: 3em;
  position: absolute;
  padding: 10px 0 0 20px;
}

.story-promo blockquote {
  padding: 30px 20px 20px 40px;
  font-size: 25px;
  line-height: 1.15em;
  font-style: italic;
}

.story-promo blockquote a::after {
  content: "";
  padding: 0;
}

.promo-box h2 {
  margin-top: 0;
  -webkit-margin-before: 0;
  font-size: 25px;
}

.promo-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo-box li {
  border-top: 1px dotted #444;
  line-height: 2em;
}

.step, .media {
  border-bottom: 1px dotted #444;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.step:last-child, .media.last {
  border-bottom: none;
}

.step:first-child, .media:first-child {
  margin-top: 15px;
}

.media-heading {
  margin: 0 0 .5em 0;
}

.step .title {
  font-size: 1.15em;
  display: block;
  margin-bottom: 15px;
}

.step ol {
  list-style-type: lower-alpha;
}

.steps  {
  counter-reset: li;
  padding-left: 50px;
}

.steps .step {
  list-style: none;
  margin-left: 0;
}

.steps .title:before {
  content: counter(li);
  counter-increment: li;
  padding: 8px;
  position: absolute;
  left: 22px;
}

.steps .step:before {
  content: "";
  background-color: #deccb4;
  padding: 0;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .steps .step {
    margin-left: 15px;
  }

  .steps .title:before {
    padding: 13px;
  }

  .steps .step:before {
    padding: 15px;
    width: 50px;
    height: 50px;
  }
}

.steps button {
  background-color: #e2e1dd;
}

.steps p, .steps ol li {
  font-size: 0.9em;
}

.thumbnail {
  padding: 15px;
  border: 1px solid #bcbcbc;
  border-radius: 0;
}

.thumbnail h3 {
  margin-top: 0;
}

.thumbnail h3 a::after {
  content: '';
}

.thumbnail, .story {
  margin-bottom: 50px;
}

.story .figure {
  float: left;
  margin: 0 15px 10px 0;
  width: 100%;
}

@media (min-width: 768px) {
  .story .figure {
    width: 350px;
  }
}

.video {
  margin-bottom: 30px;
}

/* Responsive Video */
.video-player-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-player-container iframe,
.video-player-container object,
.video-player-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 20%;
  height: auto;
}

.img-container-small {
  width: 15%;
  height: auto;
}

img[src$=".svgz"].img-responsive, img[src$=".svg"].img-responsive {
  width: 100%;
}

.action {
  display: block;
}

.action-link {
  color: #d73f3f;
}

.action-link:hover {
  color: #d73f3f;
}

.more-info {
  display: block;
}

.caption {
  margin-top: 10px;
  font-size: 0.8em;
  color: #666;
}

/*
 ******************** Overrides *********************
 */


.image::after, .btn::after, .navbar .btn::after {
  content: '';
  padding: 0;
  display: block;
}

/*
 ******************** Helpers / Fixes *********************
 */

.first {
  padding-left: 0;
  margin-left: 0;
}

.lt-ie8 div[class^='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.lt-ie8 .row {
  margin-left: 0;
  margin-right: 0;
}

.shadowed {
  box-shadow: 1px 1px 7px -3px #888;
}


/*
 ******************** Sprites *********************
 */

.media-body {
  background: url('/assets/img/ie-sprite.png') no-repeat; 
  padding-left: 20%;
}

.media-body.globe {
  background-position: 0 -1071px;
}

.media-body.map {
  background-position: 0 -3371px;
}

.media-body.marker {
  background-position: 0 -4521px;
}

.media-body.osm {
  background-position: 0 -5671px;
}

.media-body.hot {
  background-position: 0 -2221px;
}

.media-body.dos {
  background-position: 0 -6821px;
}

@media (min-width: 500px) {
  .media-body {
    padding-left: 11%;
  }
}

@media (min-width: 768px) {
  .media-body {
    padding-left: 18%
  }

  .media-body.globe {
    background-position: 0 -1621px;
  }

  .media-body.map {
    background-position: 0 -3921px;
  }

  .media-body.marker {
    background-position: 0 -5071px;
  }

  .media-body.osm {
    background-position: 0 -6221px;
  }

  .media-body.hot {
    background-position: 0 -2771px;
  }

  .media-body.dos {
    background-position: 0 -7371px;  
  }
}

@media (min-width: 992px) {
  .media-body {
    padding-left: 21%
  }
}

@media (min-width: 1200px) {
  .media-body {
    padding-left: 18%
  }
}

/* Thanks to... */
/* Sticky footer http://www.cssstickyfooter.com */
/* Responsive YouTube embed http://avexdesigns.com/responsive-youtube-embed/ */
