@media (min-width: 768px) {
  html, body {
    height: 100%;
  }
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  /*background-image: url('/assets/img/bg.jpg');*/
  /*background-color: #FFFEF4;*/
  background-color: #eee;
  font-size: 16px;
  color: #51504d;
}

/* Opera fix for sticky footer */
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}


/*
 ********************* Specific Styles *********************
 */

@media (min-width: 768px) {
  #main-wrapper {
    min-height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #main {
    padding-bottom: 182px; /* footer height */
  }
}

.site-title {
  text-transform: uppercase;
  margin-top: 30px;
}

.site-title span {
  background: url('/assets/img/starburst.png') 10px 0 no-repeat;
  padding: 20px 30px 0 0;
}

/***** Main Nav *****/

.navbar {
  border: none;
}

.navbar-default {
  background-color: #e6f1fb;
  border-top: 7px solid #535351;
  border-radius: 0;
}

.lt-ie9 .navbar-default {
  border-bottom: 1px solid #bcbcbc;
}

.navbar-default .navbar-nav>li>a {
  color: #51504d;
}

@media (min-width: 768px) {
  .nav > li > a.first {
    padding-left: 0;
  }
}

.navbar-default .navbar-collapse {
  border-color: #444;
}

.navbar-default .navbar-toggle {
  border-color: #444;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #444;
}

/***** Main Nav End *****/

#footer {
  /*background-image: url('/assets/img/fbg.jpg');*/
  background-color: #bcbcbc;
  border-top: 10px solid #52504d;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer li {
  margin: 0 0 0 10px;
  padding: 0;
}

#footer a {
  color: #444;
}

@media (min-width: 768px) {
  #footer {
    position: relative;
    margin-top: -182px; /* negative footer height */
    min-height: 182px;
    height: auto;
  }

  #footer li {
    margin: 0 0 15px 0;
  }
}

#footer .top {
  font-weight: bold;
  line-height: 19px;
  margin-top: 10px;
}

.mission {
  margin-top: 20px;
  border-top: 1px dotted #444;
}

@media (min-width: 768px) {
  .mission {
    margin-top: 0;
    border: none;
  }
}

.infographics img, .infographics .btn {
  margin-bottom: 20px;
}

.infographics .btn {
  background-color: #d73f3f;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  width: 300px;
  height: 200px;
  font-size: 4em;
  text-align: left;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .infographics {
    padding-top: 70px;
  }

  .infographics .btn {
    width: 220px;
    height: 147px;
    font-size: 2.5em;
    padding-left: 25px;
  }

  .infographics .start-button:before {
    background-image: url('/assets/img/arrow.svg');
    display: inline-block;
    content: "";
    height: 39px;
    width: 190px;
    position: absolute;
    top: -50px;
    left: 29px;
  }
}

@media (min-width: 992px) {
  .infographics .btn {
    width: 293px;
    height: 196px;
    font-size: 4em;
    padding-left: 12px;
  }

  .infographics .start-button:before {
    width: 253px;
    left: 33px;
  }
}

.infographics .btn:active {
  box-shadow: inset 0px 0px 10px -2px #693f41;
}

.infographics .btn .text {
  text-shadow: 3px 3px 10px #693f41;
  box-shadow: none;
}

.infographics .btn:active .text {
  text-shadow: 1px 1px 10px #693f41;
}

.infographics .btn .first {
  display: block;
}


/*
 ******************** Objects *********************
 */

.promo-box, .story-promo {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ccdddd;
}

.media {
  border-bottom: 1px dotted #444;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.media h2, .quote h3, .promo-box h2 {
  margin-top: 0;
  -webkit-margin-before: 0;
}

.media p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .media p {
    overflow: hidden;
  }
}

.media img {
  float: left;
  padding: 0 10px 10px 0;
  margin-right: 5%;
}

.media:first-child {
  margin-top: 15px;
}

.media.last {
  border-bottom: none;
}

.story {
  background-color: transparent;
}

/* Responsive Video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container {
  width: 33%;
  height: auto;
}

.img-container-small {
  width: 15%;
  height: auto;
}

img[src$=".svg"].img-responsive {
  width: 100%;
}

.action {
  display: block;
}

.action-link {
  color: #d73f3f;
}

.action-link:hover {
  color: #d73f3f;
}

.more-info {
  display: block;
}

.btn-primary {
  background-color: #d73f3f;
  border-color: #d73f3f;
  color: white;
}

.btn-primary:active, 
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c9d3d1;
  border-color: #c3cdcb;
  color: #51504d;
}

/*
 ******************** Helpers *********************
 */

.first {
  padding-left: 0;
  margin-left: 0;
}

.boxSized, .boxSized * { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

.shadowed {
  box-shadow: 3px 3px 25px -3px #888;
}

/* Thanks to... */
/* Sticky footer http://www.cssstickyfooter.com */
/* Responsive YouTube embed http://avexdesigns.com/responsive-youtube-embed/ */
