<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='index'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name='twitter:site' content='@' />
  <meta property='og:site_name' content='YALI Connect Camp Maps' />
  <meta name='twitter:url' content='' />
  <meta name='twitter:domain' content='/connect-camp-maps' />
  <meta property='og:url' content='' />
  <meta name='twitter:title' content='Program' />
  <meta property='og:title' content='Program' />
  <meta name='twitter:description' content='HOT Summit Program {% for date in page.dates %} {% if site.tags[date.id].size &amp;gt; 0 %} {{date.name}} {% for item in site.tags[date.id] order:ascending %} {{item.title}} {{item.time}} {{item.location}} {{item.excerpt}} {% endfor %}...' />
  <meta property='og:description' content='HOT Summit Program {% for date in page.dates %} {% if site.tags[date.id].size &amp;gt; 0 %} {{date.name}} {% for item in site.tags[date.id] order:ascending %} {{item.title}} {{item.time}} {{item.location}} {{item.excerpt}} {% endfor %}...' />
  
    <meta name='twitter:image' content='/connect-camp-maps/img/default-twitter-card.png' />
    <meta name='st:image' content='/connect-camp-maps/img/default-twitter-card.png' />
    <meta property='og:image' content='/connect-camp-maps/img/default-twitter-card.png' />
  
  <meta property='og:type' content='website' />
  <meta name='twitter:card' content='summary_large_image' />

  <title>Program | YALI Connect Camp Maps</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
 <!--  <link rel='shortcut icon' href='/connect-camp-maps/img/favicon.ico' type='image/x-icon' /> -->
  <link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
	<link href='/connect-camp-maps/base/base.css' rel='stylesheet' />
  <link href='/connect-camp-maps/site.css' rel='stylesheet' />
  <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='/connect-camp-maps/site.js'></script>
</head>
<body class=''>

<nav class='pad2 fill-blue site-navigation center space'>
  <a class='strong ' href='/connect-camp-maps/'>Home</a>
  <a class='strong ' href='/connect-camp-maps/sessions/'>Sessions</a>
  <a class='strong ' href='/connect-camp-maps/resources/'>Resources</a>
  <a class='strong ' href='/connect-camp-maps/about/'>About</a>
  <a href='https://twitter.com/search?q=%23YALI&src=typd' target='_blank' class='hide-mobile icon twitter inline small strong dark'>#YALI</a>
</nav>


<header class='clearfix splash center'>
  <a href='/connect-camp-maps' class='block'>
    <img id='logo' src='/connect-camp-maps/img/logo.png' alt='HOT Summit' />
  </a>
</header>

<div class='fill-blue'>
  <div class='liner clearfix center fill-darken3 dark col12'>
    <h2 class='pad2'>HOT Summit Program</h2>
  </div>
</div>

<div class='limiter pad4y clearfix'>



  
  <div class='pad2y '>
    <div class='limiter'>
      <div class='col12 quiet space-bottom1'>
        <h3 class='col11 pad2x'>
          Wednesday, April 29
        </h3>
      </div>
      <div class='col12 pad1y'>
        
          <div class='col12 clearfix '>
            <div class='col12 pad2x'>
              <div class='headline clearfix space-bottom1'>
                <h2 class='col8'>
                  <!-- <a href='/event/maptime/'> -->
                    Maptime DC: Intro to OSM for Humanitarian Response
                  <!-- </a> -->
                </h2>
                <div class='text-right space-bottom1'>6:30pm - 8:00pm</div>
                <div class='text-right quiet'>location TBA</div>
              </div>
              <div class='prose schedule space-bottom2'>
                <p>The night before the Summit kicks off our friends at Maptime DC will be holding an event for people to learn about HOT, get introduced to OSM, and dive into contributing to a HOT project using the tasking manager. Get more details and sign up on <a href="http://www.meetup.com/Maptime-DC/events/220505118/" target="_blank">Meetup</a></p>

              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  
  
  
  <div class='pad2y keyline-top'>
    <div class='limiter'>
      <div class='col12 quiet space-bottom1'>
        <h3 class='col11 pad2x'>
          April 30 - May 2
        </h3>
      </div>
      <div class='col12 pad1y'>
        
          <div class='col12 clearfix '>
            <div class='col12 pad2x'>
              <div class='headline clearfix space-bottom1'>
                <h2 class='col8'>
                  <!-- <a href='/event/summit/'> -->
                    HOT Summit
                  <!-- </a> -->
                </h2>
                <div class='text-right space-bottom1'></div>
                <div class='text-right quiet'></div>
              </div>
              <div class='prose schedule space-bottom2'>
                <p>The program for the HOT Summit will be released soon.</p>

              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  
  
</div>


<!--
A table with sessions breakdown. See draft here
We should note what food/meals are included
We need to include side events, like the code sprints and partner’s events (MapTime)

This does not need to be in place for site launch
-->


<div class='pad2x show-mobile'>
  <a href='#sponsors' class='button block'>Supporters</a>
</div>


<section id='sponsors' class='hide-mobile col12 center fill-light pad2y'>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>
      <h2 class='space-bottom1'>Participating Groups</h2>

      <nav class='space-bottom2'>
        <a href='http://yali.state.gov/' target='_blank'><img class='participating' src='/connect-camp-maps/img/yali_network_banner.png' alt='YALI' /></a><br/>
        <a href='http://www.ohio.edu/' target='_blank'><img class='participating' src='/connect-camp-maps/img/ouws_front_0309_ohiogr.gif' alt='Ohio University' /></a><br/>
        <a href='http://mapgive.state.gov/' target='_blank'><img class='participating' src='/connect-camp-maps/img/mapgive.png' alt='MapGive' /></a>
      </nav>

      <h3>Get in touch to get involved</h3>

    </div>
  </div>
</section>

<section class='fill-white pad2y center'>
  <div class='limiter'>
    <p><strong>Interested in participating?</strong> Email <a href='mailto:connect.camp.maps@gmail.com'>connect.camp.maps@gmail.com</a> to learn more.</p>
  </div>
</section>
<footer class='col12 center fill-blue dark'>
  <div class='fill-darken3 pad2y col12'>
    <div class='limiter'>
      <p class='small hide-mobile'>
       <!-- <a href="/connect-camp-maps/codeofconduct/">Code of Conduct</a> | --> <a href='/connect-camp-maps'>YALI Connect Camp Maps</a> | <a href='https://twitter.com/search?q=%23YALI&src=typd' target='_blank'>#YALI</a><!-- | Photo credits: Photo Credits-->
    </div>
  </div>
</footer>

<!-- Analytics / Tracking -->
<!-- End Analytics / Tracking -->

</body>
</html>
