---
layout: default
title: Imagery to the Crowd 
twitterDescription: "#HIU through #ITTC publishes high-resolution commercial satellite imagery services for humanitarian response."
ogDescription: "#HIU through #ITTC publishes high-resolution commercial satellite imagery services for humanitarian response."
emailSubject: HIU through ITTC publishes imagery services.
emailDescription: "#HIU through #ITTC publishes high-resolution commercial satellite imagery services for humanitarian response."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>Imagery to the Crowd (IttC) is part of the State Department’s Humanitarian Information Unit (HIU). The HIU provides information to decision-makers and partners in preparation for and response to humanitarian emergencies worldwide, promotes innovative technologies and best practices for humanitarian information management. IttC publishes high-resolution commercial satellite imagery purchased by the United States Government, in a format that volunteers easily map into OpenStreetMap. IttC addresses significant data gaps for humanitarian and development needs.</p>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include kepha-ngito.html %}
  </div>
</div>
