---
layout: default
---

<style type="text/css">
{% include mapgive-in-a-box/style.css %}

#main {
  min-height: 930px;
}

#doc-nav-left {
  min-height: 580px;
}

/*https://www.itsupportguides.com/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/
div.anchor :before {
content:"";
display:block;
height:90px; 
margin:-90px 0 0; 
}
*/

.anchor {
    padding-top: 620px;
    margin-top: -620px;
}

</style>



<div class='doc-main doc cell-main'>

  <div class='doc-nav cell-menubar padLeft cf' id='doc-nav-left show-buttons'>

    {% comment %}{% assign post_size = {{site.categories[page.category].size}} %}{% endcomment %}
    {% assign post_size = {{site.categories.about.size}} %}

      <ul>
        <li class='doc rounded' style='padding:0px;'>
          <a href="#home" class="title header" style='padding:0px;'>
            <img src="{{site.baseurl}}/assets/img/box_graphic_small.png" alt="MapGive in a box home page" class="img-responsive" style="width:33%;display:inline;">
            MapGive in a Box
          </a>
        </li>
      </ul>

      {% if post_size != 0 %}
        <ul>
        <li class='doc rounded'>
            <a class='title header' href='#about'> 
            <span>About</span>
            </a>
        </li>
        <div class="submenu">
          {% for post in site.categories.about reversed %}
              {% if post.lang == page.lang %}
                  {% unless post.hidden %}

                    <li class='doc rounded'>
                        <a class='title {% comment %}{% if post.cover %}cover{% endif %}{% endcomment %} ' href="#about&{{ post.title | slugify }}">
                        <span>{{ post.title }}</span>
                        </a>
                    </li>
                  {% endunless %}
              {% endif %}
          {% endfor %}
        </div>
        </ul>
      {% endif %}


    {% assign post_size_cases = {{site.categories.cases.size}} %}

      {% if post_size_cases != 0 %}
        <ul>
        <li class='doc rounded'>
            <a class='title header' href='#cases'>
            <span>Case Studies</span>
            </a>
        </li>
        <div class="submenu">
          {% for post in site.categories.cases reversed %}
              {% if post.lang == page.lang %}
                  {% unless post.hidden %}
                    <li class='doc rounded'>
                        <a class='title {% if page.url == post.url %}active{% endif %}' href="#cases&{{ post.title | slugify }}">
                        <span>{{ post.title }}</span>
                        </a>
                    </li>
                  {% endunless %}
              {% endif %}
          {% endfor %}
        </div>
        </ul>
      {% endif %}

    {% assign post_size = {{site.categories.resources.size}} %}

      {% if post_size != 0 %}
        <ul>
        <li class='doc rounded'>
            <a class='title header' href='#resources'>
            <span>Resources</span>
            </a>
        </li>
        <div class="submenu">
          {% for post in site.categories.resources reversed %}
              {% if post.lang == page.lang %}
                  {% unless post.hidden %}
                    <li class='doc rounded'>
                        <a class='title {% if page.url == post.url %}active{% endif %}' href="#resources&{{ post.title | slugify }}">
                        <span>{{ post.title }}</span>
                        </a>
                    </li>
                  {% endunless %}
              {% endif %}
          {% endfor %}
        </div>
        </ul>
      {% endif %}

  </div>

  <!-- http://stackoverflow.com/questions/19230537/how-to-make-content-next-to-a-fixed-position-menu-not-overlap-in-smaller-resolut -->
  <!-- http://jsfiddle.net/YE7ZZ/4/ -->
  <div id="positioner">

  {% include mapgive-in-a-box/3d_box.html %}


  <div class="anchor outer-div" id="home" style="display: none;">
    </br>
    <h2 class='tagtitle'>What is MapGive in a Box?</h2>
    <p class='tagwords'>
      This guide contains the collective wisdom of the MapGive team, and partners who have organized MapGive events and projects. The goal is to provide clear guidelines for engagement and project design with the MapGive program, for someone with no background in mapping.
    </p></br>
  </div>

  <div class="anchor outer-div" id="about" style="display: none;">
    </br>
    <!--<h2 class='tagtitle'>About</h2>-->
    <p class='tagwords'>
      The MapGive team is ready to help, and MapGive in a Box will help you prepare to work with the team. How much good can we do together?
    </p></br>
  </div>

  <div class="anchor outer-div" id="cases" style="display: none;">
    </br>
    <!--<h2 class='tagtitle'>Case Studies</h2>-->
    <p class='tagwords'>
      MapGive has been utilized in a wide variety of places and settings, and range from simple, lightly resourced events to in-depth activities with substantial design and implementation support. Take a look through these Case Studies to learn more how colleagues have implemented MapGive programs.
    </p></br>
  </div>

  <div class="anchor outer-div" id="resources" style="display: none;">
    </br>
    <!--<h2 class='tagtitle'>Resources</h2>-->
    <p class='tagwords'>
      All the resources needed to hold a MapGive engagement from start to finish. 
    </p></br>
  </div>

  <!--do for loops and make everything hidden here-->
  <!--the hidden posts can have their images be lazy loads
  <!--when button is clicked, show active post-->



  {% for post in site.categories.about reversed %}
      {% if post.lang == page.lang %}
          {% unless post.hidden %}
            
            <div class="outer-div" id="{{ post.title | slugify }}" style="display: none;">
              <h1>{{post.title}}</h1>
              {{ post.content }}
            </div>

          {% endunless %}
      {% endif %}
  {% endfor %}

  {% for post in site.categories.cases reversed %}
      {% if post.lang == page.lang %}
          {% unless post.hidden %}
            
            <div class="outer-div" id="{{ post.title | slugify }}" style="display: none;">
              <h1>{{post.title}}</h1>
              {{ post.content }}
            </div>

          {% endunless %}
      {% endif %}
  {% endfor %}

  {% for post in site.categories.resources reversed %}
      {% if post.lang == page.lang %}
          {% unless post.hidden %}
            
            <div class="outer-div" id="{{ post.title | slugify }}" style="display: none;">
              <h1>{{post.title}}</h1>
              {{ post.content }}
            </div>

          {% endunless %}
      {% endif %}
  {% endfor %}

  </div>
</div>


<script type="text/javascript">
/*
need a router for the hashes in the url
first hash will be for the categories: #about, #cases, and #resources
2nd hash will be for the page: ex. #determine-the-need

the hashes will be parsed. the categories will determine the submenu to be opened
and the page hashtag will load the post content
*/

var panelClassName = 'show-front'

//This code opens the right tab by reading the url hash.
$( document ).ready(function() {
    console.log('doc ready called');
    console.log('doc loc hash');
    console.log(document.location.hash);
    // Javascript to enable link to tab
    var hash = document.location.hash;

    hash_page = hash.slice(1).split('#');

    console.log('hash page 1');
    console.log(hash_page[0]);

    //remove active from existing headers
    $('.header').removeClass("active");

    $("a[href='#"+hash_page[0]+"']").closest(".rounded").next().slideUp();

    $("a[href='#"+hash_page[0]+"']").closest(".rounded").next().slideDown();
    $("a[href='#"+hash_page[0]+"']").addClass("active");

    $('.header').not(".active").closest(".rounded").next().slideUp();
    $('.header').not(".active").closest(".rounded").next().removeClass("active");
    //$('.header').not(".active").closest(".rounded").next().slideDown();

    console.log('hash_page length: ');
    console.log(hash_page.length);

    if (hash_page.length == 1) {

        hash_section = '#' + hash_page[0];

        console.log('hash_section');
        console.log(hash_section);

        title_href = hash_section.slice(1).split('&');

        console.log( 'showing link href2' );
        console.log( title_href );

        console.log('title_href.length');
        console.log(title_href.length);

        if (title_href.length == 1) {

            if (hash_page[0] == '') {
              $( "#home" + ".outer-div" ).show();
            } else {
              //load page content
              $( hash_section + ".outer-div" ).show();
            }
            //turn box face

            if (hash_section == '#home') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-front';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#about') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-right';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#cases') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-back2';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#resources') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-left2';
              box.addClassName( panelClassName );
            }


            if (hash_page[0] == 'home' || hash_page[0] == '') {

              console.log('do the loop');

              loop = ['#home','#about','#cases','#resources'];

              // loop through array 
              var i = 0, l = loop.length;
              (function iterator() {
                  console.log('loop[i]');
                  console.log(loop[i]);

                  clickHandler($('.header[href="'+loop[i]+'"]'));

                  console.log('i');
                  console.log(i);
                  console.log('l');
                  console.log(l);

                  if(i==l-1) {
                    i=-1;
                  }

                  if(++i<l) {
                      myTimeout = setTimeout(iterator, 8000);
                  }
              })();
            }
        }

        if (title_href.length == 2) {

          $( ".box-container" ).hide();

          console.log( 'title_href new: ' );
          console.log( title_href[1] );

          title_href2 = '#' + title_href[1];

          console.log( 'title_href2' );
          console.log( title_href2 );

          $( title_href2 + ".outer-div" ).show();

          //make page link in menu active
          $("a[href='"+document.location.hash+"']").addClass("active");

        }
    }


});


var clickHandler = function( event ) {
    if ( event ) {
        console.log( 'event' );
        console.log( event );

        title_href = $(event).attr('href');

        console.log( 'showing link href' );
        console.log( title_href );

        $( ".title" ).removeClass("active");
        $(event).addClass("active");

        $( ".outer-div" ).hide();
        $( ".box-container" ).hide();

        //take away first hash 
        title_href = title_href.slice(1).split('&');

        console.log( 'showing link href2' );
        console.log( title_href );

        console.log('title_href.length');
        console.log(title_href.length);

        //if just one hash, ex #cases
        if (title_href.length == 1) {

            hash_section = '#' + title_href[0];

            //load page content
            $( hash_section + ".outer-div" ).show();
            $( ".box-container" ).show();

            //turn box face

            if (hash_section == '#home') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-front';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#about') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-right';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#cases') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-back2';
              box.addClassName( panelClassName );
            }

            if (hash_section == '#resources') {
              box.removeClassName( panelClassName );
              panelClassName = 'show-left2';
              box.addClassName( panelClassName );
            }

        }

        console.log( 'title_href new: ' );
        console.log( title_href[1] );

        title_href2 = '#' + title_href[1];

        console.log( 'title_href2' );
        console.log( title_href2 );

        $( title_href2 + ".outer-div" ).show();

    } else {
        console.log( "this didn't come from an event!" );
    }
};




</script>

<!--code to open and close submenus-->
<script type="text/javascript">

//make header active that has an active link
//$('.title.active').closest('.submenu').addClass("active");

//hide all menus that aren't active
$('.submenu').not('.active').hide();

//if one of the titles is active
if ( $( '.title.active' ).length ) {
  //just hide the other menus
  console.log('we have an active title');
  //console.log($( '.title.active' ));
  console.log($('.title').not('active').closest('.submenu'));

    //if submenu not already active
    if ( !$( '.submenu.active' ).length ) {
      console.log('submenu not active yet');
      //make submenu active
      $('.title.active').closest('.submenu').addClass("active");

      //slide down the submenu
      $('.title.active').closest('.submenu').slideDown();
    }

  //$('.submenu').not('.active').slideUp();

} else {
  //hide all menus
  //$('.header').not(".active").closest(".rounded").next().hide();

  //open the menu with the active title
  console.log('submenu to open');
  console.log($('.title.active').parent().parent());

  //$('.title.active').parent().parent().slideDown();
  //$('.title.active').parent().parent().addClass("active");

}

$('.header').on('click', function(){
  console.log('next');
  console.log($(this).closest(".rounded").next());
  //$(this).closest(".rounded").next().slideUp();

  //if submenu is not visible
  if(!($(this).closest(".rounded").next().is(':visible'))){

    $('.header').removeClass("active");

    $(this).closest(".rounded").next().slideUp();
    $(this).closest(".rounded").next().slideDown();
    $(this).addClass("active");

    $('.header').not(".active").closest(".rounded").next().slideUp();
    $('.header').not(".active").closest(".rounded").next().removeClass("active");
    //$('.header').not(".active").closest(".rounded").next().slideDown();

    $(this).removeClass("active");

  } else {
    $(this).closest(".rounded").next().slideUp();
    $(this).removeClass("active");
  }

});

</script>


<script type="text/javascript">

//click listeners to show and hide posts



$( ".title" ).on( "click", function(){
  console.log('clicking title');
  console.log( $( this ).text() );

  //Stop Timeout loop
  if(typeof myTimeout !== "undefined"){
    clearTimeout(myTimeout);
  }

  clickHandler(this);
});





</script>



<script>
  // loop through the node list to get the innerHTML from each node
  // copy that as the id for the node
  var addId = function(list){
    for (i = 0; i < list.length; i++) {
      element = list[i];
      sectionCopy = element.innerHTML.toLowerCase().replace(/ /g, '-').replace(/([^0-9a-z-])/g,''); //substitute space with dash
      element.id = sectionCopy;
    }
  };

  var allH2 = document.getElementsByTagName('h2');
  var allH3 = document.getElementsByTagName('h3');
  addId(allH2);
  addId(allH3);

  // make the titles linkable
  $('h2[id], h3[id]','.doc').attr('title', 'Link to this section').click(function(e) {
    window.location.hash = $(e.currentTarget).attr('id');
  });

  //select the image containers so the images can be centered, styles in css
  $('img').parent().addClass('has-image');
  
  // make title nav sticky
  
  /*
  $(document).ready(function(){
  	var nav = $('.doc-nav'),
      	navTop = nav.offset().top,
      	navHeight = nav.outerHeight(true),
      	footerHeight = $('#footer').outerHeight(true);

  	$(window).scroll(function(e){
    	var scrolled = $(this).scrollTop();
    	var leftToScroll = $(document).height() - scrolled;
    	
    	if (scrolled >= navTop && leftToScroll > (footerHeight + navHeight + 20)) {
    	// if in the middle - nav box is positioned fixed
      		nav.addClass('fixed');
      		//nav.removeClass('bottom');
    	} else if (scrolled < navTop) {
    	// if at the beginning - nav box is positioned at top
      		nav.removeClass('fixed');
      		//nav.removeClass('bottom');
    	} else if (leftToScroll <= (footerHeight + navHeight + 20)) {
    	// if at the end - nav box is positioned at bottom
    	// only if height of viewport is not sufficient to have nav box and footer in it
    		if ((footerHeight + navHeight + 20) > $(window).height()) {
	      		//nav.removeClass('fixed');
    	  		//nav.addClass('bottom');
    	  	}
    	}
  	});
  });
*/

  // get the second url of doc nav and make it the url of the 'proceed' link
  var proceedTo = $('.doc-nav li:nth-child(2) a').attr('href');
  $('a.start').attr('href',proceedTo);

  // Set the min-height of the page dynamically based on height of navigation div
  $('.doc-main').css("min-height", function() {
    return $('#doc-nav-left').height() + 35;
  });

  //http://stackoverflow.com/questions/17534661/make-anchor-link-go-some-pixels-above-where-its-linked-to
  window.addEventListener("hashchange", function () {
    window.scrollTo(window.scrollX, window.scrollY - 100);
  });
  
</script>
