<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Prefetch DNS -->
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//code.jquery.com" />
    <link rel="dns-prefetch" href="//www.youtube.com" />

    <title>{{ site.name }} | {{ page.title }}</title>

    <meta name="description" content="{{ page.summary }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:site" content="@mapgive" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.twitterDescription }}" />
    {% if page.twitterImage %}
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.twitterImage }}" />
    {% endif %}
    <meta property="fb:admins" content="100007595952932" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.ogDescription }}" />
    {% if page.ogImage %}
    <meta property="og:image" content="{{ site.url }}{{ page.ogImage }}" />
    {% endif %}
    {% if page.ogVideo %}
    <meta property="og:video" content="{{ page.ogVideo }}" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="1280" />
    <meta property="og:video:height" content="720" />
    {% endif %}

    <link rel="stylesheet" href="/assets/css/main.min.css" />

    <!--[if lt IE 9]>
      <script src="/assets/js/lt-ie9.min.js"></script>
      <link rel="stylesheet" media="print" href="/assets/css/ie-print.min.css" type="text/css" />
    <![endif]-->

    <!--[if !IE 7]>
      <!--sticky footer-->
      <style type="text/css">
        #main-wrapper {
          display:table;
          height:100%;
        }
      </style>
    <![endif]-->
    <script type="text/javascript" charset="utf-8">
      (function(){
        var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1),
            html = document.getElementsByTagName('html')[0];

        if (isOperaMini) {
          html.className += ' ' + 'opera-mini';
        }
       })();
    </script>
    <script src="/assets/js/modernizr-2.7.1.min.js"></script>
  </head>
  <body>

    <!-- Hidden preload 'div' to fetch sprite images before css needs them -->
    <div id="hidden-sprite">
      <img src="/assets/img/sprite.png" width="0" height="0" alt="sprite" />
      <img src="/assets/img/sprite.svg" width="0" height="0" alt="sprite" />
    </div>

    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="main-wrapper">
      {% include main-nav.html %}
      <div class="container" id="main" role="main">
        {{ content }}
      </div>
    </div>

    <footer id="footer" role="contentinfo">
      {% include footer.html %}
    </footer>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="/assets/js/main.min.js"></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-47013923-1');ga('send','pageview');
    </script>
  </body>
</html>
