---
layout: default
---

<h1>Stories</h1>
<div class="row">
  <div class="col-md-8">
    <article>
      <header>
        <h2>{{ page.title }}, {{ page.country }}</h2>
      </header>
      <div class="story">
        <div class="figure">
          <img src="{{ page.image }}" alt="{{ page.altText }}" class="img-responsive shadowed" />
          <p class="caption">{{ page.caption }}</p>
      </div>
        {{ content }}
      </div>
    </article>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>

