---
layout: default
title: Events 
twitterDescription: "MapGive Events"
ogDescription: "MapGive's Imagery to the Crowd Services help make remote
mapping possible for online volunteers around the world. Learn more about
Imagery to the Crowd, open mapping, and how to get involved on the MapGive
website."
emailSubject: "Mapgive, an initiative of the U.S. State Department's Humanitarian Information Unit, makes it easy for new volunteers to learn to map and get involved with online tasks. MapGive also
works to connect humanitarian mapping projects with high resolution satellite imagery to make remote volunteer mapping possible. Read more on the MapGive website."
emailDescription: "HIU through ITTC publishes high-resolution commercial satellite imagery services for humanitarian response."
---

<div class="col-md-12">


	<div class="row">
		<div class="col-md-8">
			<header role="header">
			  <h1 class="page-title">{{ page.title }}</h1>
			</header>



<div class='limiter pad4y clearfix'>
{% assign sorted_pages = (site.categories.events | sort: 'date') %}
{% for post in sorted_pages %}
  {% assign display = null %}
  {% assign ready = null %}
  {% for tag in post.tags %}
    {% if tag == "event" %}{% assign display = true %}{% endif %}
  {% endfor %}
  {% if display == true %}
    <div class='keyline-all pad4 space-bottom4 project-tile'>
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <h3>{{ post.subtitle }}</h3>
      <p>{{ post.excerpt }}</p>
    </div>
  {% endif %}
{% endfor %}
</div>


		</div>
		<div class="col-md-offset-1 col-md-3">
			{% include social-media.html %}
		</div>
	</div>

<div class="col-md-8">

</div>



<div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}

</div>

 </div>
  
  



