---
layout: default
title: Events 
twitterDescription: "MapGive Events"
ogDescription: "MapGive's Imagery to the Crowd Services help make remote
mapping possible for online volunteers around the world. Learn more about
Imagery to the Crowd, open mapping, and how to get involved on the MapGive
website."
emailSubject: "Mapgive, an initiative of the U.S. State Department's Humanitarian Information Unit, makes it easy for new volunteers to learn to map and get involved with online tasks. MapGive also
works to connect humanitarian mapping projects with high resolution satellite imagery to make remote volunteer mapping possible. Read more on the MapGive website."
emailDescription: "HIU through ITTC publishes high-resolution commercial satellite imagery services for humanitarian response."
---

<div class="col-md-12">


	<div class="row">
		<div class="col-md-8">
			<header role="header">
			  <h1 class="page-title">{{ page.title }}</h1>
			</header>
		</div>
		<div class="col-md-offset-1 col-md-3">
			{% include social-media.html %}
		</div>
	</div>





<div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tracing_guides-sidebar.html %}
</div>

 </div>
  
  



