---
layout: default
title: The Cause
---

<h1>{{ page.title }}</h1>
<div class="row">
  <div class="col-md-8">
    <section>
      <div class="video">
        <div class="video-player-container shadowed">
          <iframe width="560" height="315"
            src="//www.youtube.com/embed/tryHJ0OklN4?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="caption"><a href="#">Read the video transcript</a></p>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body globe">
          <header role="header">
            <h2 class="media-heading">Why Map?</h2>
          </header>
          <p>Nec platonem consulatu disputando ex, ad vis maiorum civibus tractatos, vidit commune delicata ex vel. Quis recusabo ea mea, sed atomorum urbanitas ea, est facete molestiae intellegam ne. Homero essent vel et, per falli ludus intellegat at. Ex quo saperet expetenda adolescens, appetere expetenda pri ad. Agam mandamus mel eu.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body map">
          <header role="header">
            <h2 class="media-heading">Why OpenStreetMap?</h2>
          </header>
          <p>Lorem ipsum dolor sit amet, et zril debitis intellegam qui. An nisl oblique voluptatum usu. Elitr apeirian necessitatibus mei id, an adipiscing efficiendi cum. Vix enim minim delenit eu, nihil utamur id eam, mei diam sonet persius et. Ad nam convenire erroribus consequuntur.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="media last">
        <div class="media-body marker">
          <header role="header">
            <h2 class="media-heading">What Can I Do?</h2>
          </header>
          <p>Te pri illum ridens conceptam, vix persius diceret in. Ius at virtute adolescens, vis quidam persius an. Mel et quaeque scribentur omittantur, in adipiscing necessitatibus vis. Consul oblique invidunt quo in, mea ne eros dicunt feugait. Sed quod dicta ei, has perfecto persecuti ad. Usu ridens persecuti ad, per nibh consul posidonium ad. Per tempor cotidieque suscipiantur in.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include story-promo.html %}
  </div>
</div>

