---
layout: default
title: The Cause
twitterDescription: "Crowd-sourced mapping initiatives need more volunteer mappers.  Join the crowd. #MapGive"
ogDescription: "Volunteer for crowd-sourced mapping initiatives and help the humanitarian relief community. #MapGive, drawing resources together."
ogImage: "/assets/img/safe_image.jpeg"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailDescription: "To volunteer for crowd-sourced mapping initiatives all you need is basic computer skills. Mappers use U.S. government purchased unclassified, satellite imagery to trace the outlines of landmarks for the creation of openly available maps for the humanitarian relief community."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <div class="video">
        <div class="video-player-container shadowed">
          <iframe width="560" height="315"
            src="//www.youtube.com/embed/qnVvRUxMAX4?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="caption"><a href="/transcripts/the-cause.html">Read the video transcript</a></p>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body globe">
          <header role="header">
            <h2 class="media-heading">Why Map?</h2>
          </header>
          <p>Anytime disaster strikes, there is a scramble for data to get help to the scene. First responders and humanitarian coordinators need maps. But not just any maps - they need access to digital geographic data that can be extracted and shared. The goal is to have maps ready before a crisis occurs.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body marker">
          <header role="header">
            <h2 class="media-heading">What Can I Do?</h2>
          </header>
          <p>No special skills are needed to join the global community of volunteer mappers. You can be boots on the ground or a million miles away. Volunteers get access to U.S. government purchased, unclassified satellite imagery in a format that is easy to consume with mapping software most anyone can learn.</p>
          <p>Many sites offer points of entry for people interested in getting involved in humanitarian crowd-sourced mapping initiatives. This site provides one path. <a href="/start-mapping/" class="action-link">Start Mapping</a></p>
        </div>
      </div>
    </section>
    <section>
      <div class="media last">
        <div class="media-body map">
          <header role="header">
            <h2 class="media-heading">Why OpenStreetMap?</h2>
          </header>
          <p>There are a lot of free maps on the Internet, but they are only free to view, not to use the data for an application, such as your own web page. By contrast, OpenStreetMap makes it possible to use freely the map and all its data. The data is released under a free license (Open Data Commons Open Database License 1.0).</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tyler-machado.html %}
  </div>
</div>

