---
layout: default
title: The Cause
twitterDescription: "Crowd-sourced mapping initiatives need more volunteer mappers.  Join the crowd. #MapGive"
ogDescription: "Volunteer for crowd-sourced mapping initiatives and help the humanitarian relief community. #MapGive, drawing resources together."
ogImage: "/assets/img/safe_image.jpeg"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailSubject: Volunteer for crowd-sourced mapping initiatives.
emailDescription: "To volunteer for crowd-sourced mapping initiatives all you need is basic computer skills. Mappers use U.S. government purchased unclassified, satellite imagery to trace the outlines of landmarks for the creation of openly available maps for the humanitarian relief community."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <div class="video">
        <div class="video-player-container shadowed">
          <iframe width="560" height="315"
            src="//www.youtube.com/embed/qnVvRUxMAX4?modestbranding=1&showinfo=0&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="caption"><a href="/transcripts/the-cause.html">Read the video transcript</a></p>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body globe">
          <header role="header">
            <h2 class="media-heading">Why Map?</h2>
          </header>
          <p>Quality geographic data helps organizations and communities across economic development, environmental and crisis management activities.</p>
        </div>
      </div>
    </section>
    <section>
      <div class="media">
        <div class="media-body marker">
          <header role="header">
            <h2 class="media-heading">What Can I Do?</h2>
          </header>
          <p>You can make a great contribution even if you do not live in the area you are mapping. To join the community of online volunteer mappers all you need is basic computer skills and an Internet connection. As a volunteer mapper, you will use satellite imagery to trace the outlines of roads, structures and land features for the creation of openly available data that can be used to produce maps. These maps help the humanitarian and development community.</p>
          <p>There are several ways to get involved and aid humanitarian crowd-sourced mapping initiatives. This site provides one such path: <a href="/start-mapping/" class="action-link">Start Mapping</a></p>
        </div>
      </div>
    </section>
    <section>
      <div class="media last">
        <div class="media-body map">
          <header role="header">
            <h2 class="media-heading">Why OpenStreetMap?</h2>
          </header>
          <p>There are many free maps on the Internet, but most have legal or technical restrictions preventing others from using the data in creative, productive or unexpected ways. By contrast, through the <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.openstreetmap.org%2Fcopyright&sa=D&sntz=1&usg=AFQjCNHHP3VmgHZZuEoT2qR4BpLZTiae1g" target="_blank">Open Data Commons Open Database License 1.0</a>, OpenStreetMap (OSM) contributors own, modify and share data publicly. These maps can be published freely on websites, printed and copied without restriction. The underlying data can be downloaded for free, for developers to use or redistribute. In many places of the world where there is no commercial motivation to develop this data, OSM is often the best available resource. </p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tyler-machado.html %}
  </div>
</div>

