---
layout: default
title: Stories
twitterDescription: "Want proof that open mapping projects help people? Read #MapGive stories."
ogDescription: "Read examples of how digital maps are used to save lives and develop communities."
ogImage: "../assets/img/kepha-ngito.jpg"
emailSubject: Digital maps are used to save lives and build communities.
emailDescription: "Maps play a powerful role at each stage of the disaster relief cycle. Read examples of how a map can save lives and empower community development."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      {% for story in site.categories.stories %}
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <a href="{{ site.baseurl }}{{ story.url }}" class="image">
            <img src="{{ story.image }} " alt="{{ story.altText }}" class="img-responsive shadowed" />
          </a>
          <div class="caption">
            <h3><a href="{{ site.baseurl }}{{ story.url }}">{{ story.title }}</a></h3>
            <p><strong>Location</strong>: {{ story.country }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-8"> 

  	<div id="map"></div>
  	<script>

		var map = L.map('map').setView([15, 25], 2);

		//L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
		L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> ',
			id: 'examples.map-i875mjb7'
		}).addTo(map);

		var stories = new L.geoJson();
/*
var stories = {
    "type": "Feature",
    "properties": {
        "name": "Coors Field",
        "amenity": "Baseball Stadium",
        "popupContent": "This is where the Rockies play!"
    },
    "geometry": {
        "type": "Point",
        "coordinates": [-104.99404, 39.75621]
    }
};

L.geoJson(stories).addTo(map);
*/

		

		stories.addTo(map);




/*
		L.geoJson('../stories.geojson', {
		    style: function (feature) {
			return {color: feature.properties.color};
		    },
		    onEachFeature: function (feature, layer) {
			layer.bindPopup(feature.properties.description);
		    }
		}).addTo(map);
*/

		$.ajax({
		dataType: "json",
		url: "{{ site.baseurl }}/stories.geojson",
		success: function(data) {
		    $(data.features).each(function(key, data) {
			stories.addData(data);
		    });
		}
		}).error(function() {});

	</script>
  </div>
</div>
