---
layout: default
title: Stories
twitterDescription: "Want proof that open mapping projects help people? Read #MapGive stories."
ogDescription: "Read examples of how digital maps are used to save lives and develop communities."
ogImage: "{{ site.baseurl }}/assets/img/kepha-ngito.jpg"
emailSubject: Digital maps are used to save lives and build communities.
emailDescription: "Maps play a powerful role at each stage of the disaster relief cycle. Read examples of how a map can save lives and empower community development."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      {% for story in site.categories.stories %}
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <a href="{{ story.url }}" class="image">
            <img src="{{ story.image }} " alt="{{ story.altText }}" class="img-responsive shadowed" />
          </a>
          <div class="caption">
            <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
            <p><strong>Location</strong>: {{ story.country }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
